// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$color-blue: #0096E6;
$colors: (
  primary:    $color-blue,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-background : #007DBE;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------


$font-family-md-base: "montserratmedium";
$font-family-ios-base: "montserratmedium";
$font-family-wp-base: "montserratmedium";

//Custom Variables

$rating-start-color:#ffa236;
$tab-color:#f75d34;

$searchbar-ios-input-search-icon-color: #24272c;
$searchbar-md-input-search-icon-color: #24272c;
$searchbar-md-input-search-icon-size:29px;
$searchbar-md-input-background-color:#f6f7f8;

$gray:#514f66;
$lightgray:#f3f3f3;
$background-gray:#f9f9f9;
$white:#ffffff;
$bordercolor:#edf0f1;
$fontsizeheading:1.5rem;
$fontsizemedium:1.4rem;
$fontsizemidmedium:1.3rem;
$fontsizesmall:1.2rem;
$fontsizelight:1.1rem;
$tabs-md-tab-color-inactive:$gray;
$tabs-md-tab-color-inactive:$gray;

@import "../pages/shared/ion-rating/ion-rating.scss";
@import "../pages/product/product.scss";
@import "../pages/coupon/coupon.scss";

[viewall]{
  background-color:$white !important;
  color:$color-blue !important;
border: 0px !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
text-transform: capitalize !important;
font-family: 'montserratbold' !important;
font-size: 1.3rem !important;
line-height:18 !important;
}

[familybold]{
  font-family: 'montserratbold' !important;
}

[familyregular]{
  font-family: 'montserratregular' !important;
}
[familymedium]{
  font-family: 'montserratmedium' !important;
}

[font12]{
font-size:1.2rem !important;
}
[font11]{
  font-size:1.1rem !important;
}

[font13]{
  font-size:1.3rem !important;
}

[font14]{
  font-size:1.4rem !important;
}

[font15]{
  font-size:1.5rem !important;
}

[searchpageelement]{

  background-color:$white !important;
  


  .searchbar-input{
    background-color:$white !important;
  }

  .searchbar-search-icon{
    background-size:23px !important; 
  }
  
  input.searchbar-input{
    padding: 8px 55px !important;
    
  }
}

[whitecolor]{
  color:$white !important;
  opacity: 1 !important;
}


[fullshadow]{
  -webkit-box-shadow: -1px 1px 9px 3px rgba(211,211,211,0.31) !important;
  -moz-box-shadow: -1px 1px 9px 3px rgba(211,211,211,0.31) !important;
  box-shadow: -1px 1px 9px 3px rgba(211,211,211,0.31) !important;
}

[bottomshadow]{
  -webkit-box-shadow: -1px 6px 5px -3px rgba(211,211,211,0.31);
  -moz-box-shadow: -1px 6px 5px -3px rgba(211,211,211,0.31);
  box-shadow: -1px 6px 5px -3px rgba(211,211,211,0.31);
  position: relative;
}


[parentclass]{
  border-radius: 4px !important;
}
.producttabsegments 


{
  
  ion-segment{
  padding-top: 0px !important; 
    
  ion-segment-button{
    
  }
  
}
}