<ion-content>
    <ion-card>
        <ion-item>
            <ion-icon item-end name="close" navPop></ion-icon>
        </ion-item>
        <ion-card-header>
            Welcome back to Nayashoppy
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <form (ngSubmit)="forgotPassword()" #forgetPasswordForm="ngForm">
                    <ion-row>
                        <ion-col col-12>Forgot Password</ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col col-12>
                            <ion-item>
                                <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="credentials.email" required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col col-12 text-center>
                            <button ion-button class="submit-btn" full type="submit" [disabled]="!forgetPasswordForm.form.valid">Submit</button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>