[custom-textbox-styling]{
    height: 44px;
    padding:0px 10px !important;
    margin-bottom:10px !important;
    background-color: $searchbar-md-input-background-color;
    border-radius: 4px;
}
.checkbox-icon{
    background-color: $searchbar-md-input-background-color !important;;
    border:0px !important;;
    border-radius:5px !important;
    height:24px !important;;
    width:24px !important;
    color:$color-blue;
}
ion-input[no-padding]{
padding:0px !important;
}

[color-gray]{
    color:$gray;
}

[dimopacity]{
    opacity:.4 !important;
}

[gradient-top-left]{
    background-image: url(/assets/imgs/circles.svg);
    background-repeat: no-repeat;
    width:100%;
    margin:0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
   
    [name="close"]{
        float:right;
        padding:12px;
        color:$gray;
    }
}

.login ion-card-header, .register ion-card-header
{
    font-size:1.6rem !important;
    color:$gray !important;
    opacity: .8;
    p{
        font-size:2.6rem !important;
        color:$gray !important;
    }
}


.login {.item.item-md .checkbox-md{
margin:9px 10px 9px 4px !important;
color:$gray;
opacity:.9;
}

[forgetpassword]{
    button{
        padding:0px !important;
        margin:0px !important;
    }
    ion-label{
        margin-top:4px;
        margin-right:0px;
        text-align:right;
    }
}
.checkbox-md .checkbox-checked .checkbox-inner{
    left: 9px !important;;
    top: 6px !important;
 
    width: 5px !important;
    color:$color-blue;
    border-color:$color-blue;
}
.item-checkbox .item-inner{
    color:$gray;
    opacity:.9;
}
[forgetpasswordlink]{
    background: transparent;
    color: $color-blue;
    box-shadow: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    vertical-align: text-top;
    font-size: 14px;
    font-weight: 700;
}
}

[ns-button]{
    height:4.8rem !important;
    border-radius: 4px !important;
}
[fontsize12]{
    font-size:$fontsizesmall !important;
}

[prepostborder]{
    color:$searchbar-md-input-search-icon-color;
    font-size:13px;
    opacity:.3;
    text-align:center;
    &:after{
       

  left: 0.5em;
  margin-right: -18%;
  background-color: $searchbar-md-input-search-icon-color;;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 18%;
  opacity:.3;
    }

    &:before{
        right: 0.5em;
        margin-left: -18%;
        background-color: $searchbar-md-input-search-icon-color;;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 18%;
        opacity:.3;
    }
}

.tab-button{
    border-right:1px solid $lightgray !important;
}

[transparent]{
    background-color:transparent !important;
    border:1px solid $bordercolor;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

[orange]{
    height:8px;
    width:8px;
    background-color: #ffa38a;
    border-radius: 4px;
    position: absolute;
    top: 7px;
    right: 65px;

}
[purple]{
    height:8px;
    width:8px;
    background-color: #be97ff;
    border-radius: 4px;
    position: absolute;
    top: 17px;
    right: 137px;
}

ion-content.login{
    background-color:#ffffff;
}

