<ion-content class="login">
    <ion-card gradient-top-left>

        <ion-icon tappable (click)="dismiss()" item-end name="close"></ion-icon>

        <ion-card-header>
            Welcome back to
            <br/>
            <p>Nayashopi</p>
            <div orange></div>
            <div purple></div>
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-segment [(ngModel)]="selectedSegment">
                    <ion-segment-button value="login">
                        Login
                    </ion-segment-button>
                    <ion-segment-button dimopacity value="new" tappable (click)="showSignUp()">
                        Sign Up
                    </ion-segment-button>

                </ion-segment>
                <form (ngSubmit)="login()" #loginForm="ngForm">

                    <ion-row margin-top>
                        <ion-col col-12>
                            <ion-item no-padding font13>
                                <ion-input custom-textbox-styling no-padding no-margin type="text" name="email" [(ngModel)]="loginCredentials.email" placeholder="username or email"
                                    required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <ion-item no-padding font13>
                                <ion-input custom-textbox-styling no-padding no-margin type="text" name="password" [(ngModel)]="loginCredentials.password"
                                    placeholder="password" required></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 no-padding>
                            <ion-item no-padding no-margin>
                                <ion-label no-padding no-margin fontsize12> Remember me</ion-label>
                                <ion-checkbox color="gray" checked="true"></ion-checkbox>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item forgetpassword no-padding no-margin>
                                <button no-padding no-margin font12 text-capitalize forgetpasswordlink ion-button type="button" (click)="showForgotPassword()">Forgot Password?</button>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 text-center>
                            <button ion-button class="submit-btn" ns-button full type="submit" [disabled]="!loginForm.form.valid">Login</button>
                        </ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col col-12 text-center prepostborder>
                            Login Using
                        </ion-col>
                    </ion-row>
                    <ion-row padding-top>
                        <ion-col col-6 text-center>
                            <button transparent ion-button type="button" (click)="connectGoogle()">
                                <img src="assets/imgs/google.svg" /> </button>
                        </ion-col>
                        <ion-col col-6 text-center>
                            <button transparent ion-button type="button" (click)="connectFacebook()">
                                <img src="assets/imgs/facebook.svg" /> </button>

                        </ion-col>
                    </ion-row>
                </form>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>