

.shortocde-content p {
	margin-bottom: 20px;
	font-size: 15px;
	text-align:left;

}

.shortocde-content p.caps:first-letter {
	font-size: 2.9em;
	font-weight: 500;
	float: left;
	margin: 0 8px 0 0;
	color: #1a1a1a;
	line-height: 100%;
}

.shortocde-content p a:not(.button) {
	border-bottom: 1px dotted #2d9bdb;
}

.shortocde-content p a:not(.button):hover {
	border-bottom: 1px dotted #e32e15;
}

.shortocde-content blockquote {
	display: block;
	border-left: 3px solid #232323;
	padding-left: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	position: relative;
}

.shortocde-content blockquote p {
	font-size: inherit;
	margin-bottom: 0px;
}

.shortocde-content blockquote.style-2 {
	border-left: 0px;
	padding-left: 40px;
}

.shortocde-content blockquote.style-2:before {
	display: block;
	content: "\"";
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	top: -9px;
	left: -10px;
	color: #232323;
	font-size: 90px;
	line-height: 100%;
}

.shortocde-content h1 {
	font-size: 1.1em;
	color: #2b2624;
	margin-bottom: 20px;
}

.shortocde-content h2 {
	font-size: 1.8em;
	color: #2b2624;
	margin-bottom: 20px;
}

.shortocde-content h3 {
	font-size: 1.6em;
	color: #2b2624;
	margin-bottom: 20px;
}

.shortocde-content h4 {
	font-size: 1.4em;
	color: #2b2624;
	margin-bottom: 20px;
}

.shortocde-content h5 {
	font-size: 1.2em;
	color: #2b2624;
	margin-bottom: 20px;
}

.shortocde-content h6 {
	font-size: 1em;
	color: #2b2624;
	margin-bottom: 20px;
}

.paragraph-row {
	display: block;
	clear: both;
	position: relative;
	margin-bottom: 0px;
}

.paragraph-row:after {
	display: block;
	clear: both;
	content: '';
}

.paragraph-row .column12{width:100%;*width:99.94680851063829%;}
.paragraph-row .column11{width:91.48936170212765%;*width:91.43617021276594%;}
.paragraph-row .column10{width:82.97872340425532%;*width:82.92553191489361%;}
.paragraph-row .column9{width:74.46808510638297%;*width:74.41489361702126%;}
.paragraph-row .column8{width:65.95744680851064%;*width:65.90425531914893%;}
.paragraph-row .column7{width:57.44680851063829%;*width:57.39361702127659%;}
.paragraph-row .column6{width:48.93617021276595%;*width:48.88297872340425%;}
.paragraph-row .column5{width:40.42553191489362%;*width:40.37234042553192%;}
.paragraph-row .column4{width:31.914893617021278%;*width:31.861702127659576%;}
.paragraph-row .column3{width:23.404255319148934%;*width:23.351063829787233%;}
.paragraph-row .column2{width:14.893617021276595%;*width:14.840425531914894%;}
.paragraph-row .column1{width:6.382978723404255%;*width:6.329787234042553%;}

.paragraph-row > li,
.paragraph-row > div {
	float: left;
	margin-left: 2.127659574468085%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paragraph-row > li:first-child,
.paragraph-row > div:first-child {
	margin-left: 0px;
	padding-left: 0px;
}

.google-maps,
.video-embed {
	display: block;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	margin-bottom: 15px;
}

.google-maps iframe,
.video-embed object, .video-embed embed, .video-embed iframe {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%!important;
	height: 100%!important;
}




.ot-spacer {
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #dfdfdf;
	color: #dfdfdf;
	text-align: center;
	position: relative;
	border-bottom: 0px;
	font-size: 20px;
}

.ot-spacer {
	display: block;
	height: 4px;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	background: #dfdfdf;
	color: #dfdfdf;
	text-align: center;
	position: relative;
}


.ot-spacer i.fa {
	display: inline-block;
	color: inherit;
	font-size: 22px;
	padding: 0 10px;
	background: #fff;
	position: absolute;
	top: -7px;
	z-index: 2;
	width: 30px;
	text-align: center;
	margin-left: -20px;
}

.ot-spacer i.fa {
	top: -9px;
}

.spacer-2:before {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	background: #fff;
	top: 1px;
	left: 0px;
}

.spacer-3:before {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	background: #fff;
	top: 0px;
	left: 0px;
}

.spacer-3:after {
	display: block;
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	background: #fff;
	top: 3px;
	left: 0px;
}

p .marker {
	display: inline-block;
	padding: 0px 4px;
	margin: 0px 5px;
	background: #232323;
	border-radius: 2px;
	-moz-border-radius: 2px;
	color: #fff;
	font-weight: bold;
}



.shortocde-content .social-icon {
	display: inline-block;
	color: #232323!important;
	margin-right: 15px;
	font-family: Arial;
	text-decoration: none!important;
	border-bottom: 0px!important;
}

.shortocde-content .social-icon:after {
	display: block;
	clear: both;
	content: '';
}

.shortocde-content .social-icon:hover {
	color: #4b4b4b!important;
}

.shortocde-content .social-icon i.fa {
	display: inline-block;
	background: #232323;
	color: #faf9f3;
	width: 24px;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	float: left;
	text-shadow: none!important;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	border-radius: 50%;
}

.shortocde-content .social-icon:hover i.fa {
	background: #4b4b4b;
}

.shortocde-content .social-icon b {
	color: inherit;
	display: block;
	margin-left: 32px;
	line-height: 130%;
	font-size: 14px;
	margin-top: -2px;
}

.shortocde-content .social-icon span {
	color: inherit;
	display: block;
	margin-left: 32px;
	font-style: normal;
	font-size: 10px;
	line-height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=50);
}






.shortocde-content ol,
.shortocde-content ul {
	padding: 3px 0 2px 20px;
	margin: 0 0 20px 0;
	line-height: 130%;
}

.shortocde-content ol {
	list-style: decimal;
}

.shortocde-content ul {
	list-style: disc;
}

.shortocde-content ul.fa-ul {
	list-style: none;
}

.shortocde-content ol li,
.shortocde-content ul li {
	background: transparent;
	padding: 0 0 0 0px;
	margin: 12px 0 0 0;
}

.shortocde-content ol > li:first-child,
.shortocde-content ul > li:first-child {
	margin-top: 0px;
}

.shortocde-content ul.fa-ul {
	padding-left: 0px;
}

.shortocde-content ul.fa-ul li {
	padding-left: 23px;
}

.shortocde-content ul.fa-ul li i.fa {
	margin-left: 20px;
	top: 0px;
	font-size: 12px;
	line-height: inherit;
	padding-top: 1px;
}

.shortocde-content .button {
	margin-right: 5px;
}

.button.colored {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 -40px 30px -30px rgba(0,0,0,0.14);
}

.button.colored:hover {
	border: 1px solid rgba(0, 0, 0, 0.44);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 -40px 30px -30px rgba(0, 0, 0, 0.25), inset 0 0 0 40px rgba(255,255,255,0.1);
}

.button.colored:active {
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.06), inset 0 -40px 30px -30px rgba(255,255,255, 0.07), inset 0 0 0 40px rgba(0,0,0,0.1);
}




.short-tabs {
	display: block;
	margin-bottom: 15px;
}

.short-tabs > div {
	display: none;
	border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	padding: 20px 20px 5px 20px;
	box-shadow: inset 0 0 0 1px #fff;
	background: #f6f7f7;
	border: 1px solid #d2d5d8;
}

.short-tabs > div.active {
	display: block;
}

.short-tabs > ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.short-tabs > ul li {
	background: transparent;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

.short-tabs > ul li a {
	font-size: 16px;
	display: block;
	background: #f9f9f9;
	padding: 13px 18px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #e5e5e5;
	color: #232323;
	border-bottom: 0px;
	box-shadow: inset 0 -30px 25px -25px rgba(0,0,0,0.06);
	text-decoration: none!important;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}

.short-tabs > ul li a:hover {
	border: 1px solid #d9d9d9;
	border-bottom: 0px;
	background: #fff;
}

.short-tabs > ul li.active a {
	background: #f6f7f7;
	border: 1px solid #d2d5d8;
	border-bottom: 0px;
	border-radius: 3px 3px 2px 2px;
	margin-bottom: -15px;
	padding-bottom: 15px;
	box-shadow: inset 0 40px 35px -35px #fff;
}





.accordion {
	display: block;
	margin-bottom: 15px;
}

.accordion > div {
	display: block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	/*box-shadow: 0px 2px 1px rgba(0,0,0,0.1);*/
	padding: 15px;
	margin-bottom: 10px;
	box-shadow: 0 0 0 1px #d2d5d8;
	background: #f9f9f9;
}

.accordion > div.active > div {
	/*display: block;*/
}

.accordion > div > div {
	display: none;
	margin-bottom: -15px;
	border-top: 1px dotted #cccccc;
	margin-top: 15px;
	padding-top: 15px;
}

.accordion > div > a {
	font-weight: bold;
	font-size: 16px;
	display: block;
	color: #363635;
	position: relative;
	margin: -15px;
	padding: 15px;
	line-height: 130%;
	text-decoration: none!important;
}

.accordion > div > a:after {
	display: block;
	content: '';
	width: 11px;
	height: 3px;
	background: #ccc;
	position: absolute;
	right: 13px;
	top: 21px;
}

.accordion > div > a:before {
	display: block;
	content: '';
	width: 3px;
	height: 11px;
	background: #ccc;
	position: absolute;
	right: 17px;
	top: 17px;
}

.accordion > div.active > a:before {
	display: none;
}



.alert-block h3 {
	color: #fff;
	margin-bottom: 3px;
}

.shortocde-content .alert-block {
	margin-bottom: 20px;
}




.wp-caption {
	border: 1px solid #e6e7e8;
	padding: 2%;
	padding-bottom: 0;
	max-width: 100%;
	margin-bottom: 15px!important;
	background: #fff;
	text-align: center;
	box-shadow: 0 2px 2px rgba(0,0,0,0.03);
	margin-top: 0px!important;
}

.wp-caption img {
	display: inline-block;
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
}

.wp-caption .wp-caption-text {
	font-size: 14px !important;
}

.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}



.gallery-preview {
	display: block;
	background: #2b2624;
	color: #fff;
	margin-bottom: 20px;
}

.gallery-preview h3 {
	color: #fff;
	line-height: 100%;
}

.gallery-preview h3 a {
	color: #fff;
}

.gallery-preview .gallery-preview-images {
	display: block;
	background: #1d1b1a url(../images/gallery-preview-images.png) no-repeat;
	background-size: 100% 100%;
	padding: 25px 30px;
}

.gallery-preview .gallery-preview-content {
	display: block;
	background: #2b2624 url(../images/gallery-preview-content.png) no-repeat;
	background-size: 100% 100%;
	padding: 30px;
	border-top: 1px solid rgba(255,255,255,0.1);
}

.gallery-preview .gallery-preview-meta {
	color: #6a6867;
	font-size: 14px;
	font-weight: bold;
}

.gallery-preview .gallery-preview-meta i.fa {
	padding-right: 5px;
}


