//colors
$blue: #1c385c;
$white: #fff;
$black: #000;
$grey:#eaeded;
$orange:#ea7b36;
$d-blue:#192e48;
$d-grey:#ADABAB;
$l-grey:#ced4da;
$s-grey:#e6e7e9;
$i-grey:#888888;
$ch-grey:#d6d2d2;
$sh-grey:rgba(0, 0, 0, 0.52);
$b-grey: #e8e1e1;
$fs-grey: #ECECEC;
$f-grey:#F2F2F2;
$sky-blue:#45A5D2;
$form-border-color:#EAEAEA;
$modal-verify-color:#959595;
$p-color:#9B9B9B;
$login-detail-border-color:#EBEBEB;
$circle-sky:#0996DB;


//fonts
$roboto-sans-serif: 'Roboto', sans-serif;

//font-weight
$regular :400;
$medium : 500;
$bold: 600;

body{
  font-family: $roboto-sans-serif;
  background-color: $grey;
}

//buttons
.btn-orange{
  background-color: $orange;
  color: $white;
  font-size: 16px;
  line-height: 19px;
  &:hover{
    color: $white;
  }
}

.btn-grey{
  background-color: $d-grey;
  color: $white;
  font-size: 16px;
  line-height: 19px;
  color:$white;
  border-radius: 2px;
}

.btn {
  &:focus{
    box-shadow: none;
  }
}

.view-more{
  border-color: $sky-blue !important;
  color: $sky-blue !important;
}

.btn-login{
  min-width: 107px;
  border-radius: 2px;
}

.btn-login-border{
  border-color: $blue !important;
  color: $blue !important;
  font-size: 16px !important;
  line-height: 19px !important;
  border-radius: 2px;
}

.btn-back-login{
  color: $sky-blue;
}

//card
.card{
  border: none;
}

//headings
.card-heading{
  padding: 15px;
  h3{
    font-size: 24px;
    line-height: 28px;
    font-weight: $medium;
    margin-bottom: 0px;
    color: $black;
  }
}

//alkiyo inputs
.alkiyo-select-input{
  border-radius: 0px;
  font-size: 14px;
  line-height: 16px;
  color: $d-grey;
  border: 1px solid $fs-grey;
  &:focus{
    border-color: $fs-grey;
  }
}

.alkiyo-inputs{
  label{
    color: $d-grey;
    font-size: 14px;
    line-height: 16px;
    font-weight: $medium;
  }
}



.login-input{
  border: 1px solid rgba(173, 171, 171, 0.32);
  font-size: 12px;
  line-height: 14px;
  font-weight: $regular;
  border-radius: 2px;
  height: 40px;
  &:focus {
    border-color: rgba(173, 171, 171, 0.32);
  }

  &::-webkit-input-placeholder { /* Edge */
    color:$d-grey;
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:$d-grey;
  }
  
  &::placeholder {
    color:$d-grey;
  }

}

//sort-input
.sort-input{
  padding: 15px 0px;
  text-align: right;
  .form-group{
    margin-bottom: 0px;
    .form-control{
      width: 238px;
      display: initial;
      border-radius: 0px;
      color: $black;
      font-size: 14px;
      line-height: 16px;
      &:focus{
        box-shadow: none;
        border-color: $l-grey;
      }
    }
  }
}

////wapper-head
.wapper{
  .wapper-head{
    border-bottom: 1px solid rgba(112, 112, 112, 0.13);
  }

}

//alkiyo-checkbox
.alkiyo-checkbox{}

/* The container */
.alkiyo-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.alkiyo-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.alkiyo-checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.alkiyo-checkbox:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.alkiyo-checkbox input:checked ~ .checkmark {
  background-color: $white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.alkiyo-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.alkiyo-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.alkiyo-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid $black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//btn css
.btn-border{
  background-color: $white;
  font-size: 12px;
  line-height: 14px;
  color: $black;
  border-color: $orange;
  border-radius: 2px;
  &:hover, &:focus{
    box-shadow: none;
    border-color: $black;
  }
}

.border-blue{
  background-color: $blue;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  border-color: $blue;
  border-radius: 2px;
  &:hover, &:focus{
    box-shadow: none;
    border-color: $d-blue;
    background-color: $d-blue;
    color: $white;
  }
}

//dropdown-toggle
.dropdown-toggle{
  &:after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: 0.010em;
    content: "";
    border: none;
    background-image: url(../images/icons/dropdown-icon.png);
    height: 8px;
    width: 8px;
    background-size: 8px;
  }
}

//inputs
.form-control{
  &:focus{
    box-shadow: none;
  }
}

//border css
.bb-1{
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
}

.bl-1{
  border-left: 1px solid rgba(112, 112, 112, 0.13); 
}

//product-remove
.product-remove{
  position: relative;
  .btn-product-remove{
    position: absolute;
    top: 7px;
    right: 7px;
    color: $d-grey;
    background: transparent;
    border: 1px solid $d-grey;
    border-radius: 100%;
    padding: 0px;
    line-height: normal;
    font-size: 14px;
    width: 19px;
    height: 19px;
  }
}

//height css
.h-265{
  height: 265px;
}

//modal
.modal-dialog{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0px;
}

//tool tip
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  &:hover{
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
  .tooltiptext {
    visibility: hidden;
    max-width: 200px;
    min-width: 150px;
    background-color: $black;
    color: $white;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 11px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $black transparent transparent transparent;
    }
  }
}


//modal-heading
.modal-heading{
  font-size: 16px;
  line-height: 19px;
  font-weight: $medium;
  color:$black;
}

.label-light{
  color: $d-grey !important;
}

//text-color
.text-blue{
  color: $blue;
}

.blue-title{
  font-size: 14px;
  line-height: 16px;
  font-weight: $regular;
  margin-bottom: 0px;
  color: #1C385C;


}

//radio
/* The container */
.alkiyo-radio {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ADABAB;
}

/* Hide the browser's default radio button */
.alkiyo-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.alkiyo-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.alkiyo-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.alkiyo-radio input:checked ~ .checkmark {
  background-color: #d8d5d5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.alkiyo-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.alkiyo-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.alkiyo-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
	border-radius: 50%;
	background: $d-blue;
}

//width css
.max-w-480{
  max-width:480px;
}

//select2

.select2-container{
  width: 100% !important; 
}

.select2-container .select2-selection--single{
  border-color: #EAEAEA !important;
    border-radius: 3px !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
   
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top: 4px !important;
}

