body {
  font-family: "Roboto", sans-serif;
  background-color: #eaeded;
}

.btn-orange {
  background-color: #ea7b36;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.btn-orange:hover {
  color: #fff;
}

.btn-grey {
  background-color: #ADABAB;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border-radius: 2px;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.view-more {
  border-color: #45A5D2 !important;
  color: #45A5D2 !important;
}

.btn-login {
  min-width: 107px;
  border-radius: 2px;
}

.btn-login-border {
  border-color: #1c385c !important;
  color: #1c385c !important;
  font-size: 16px !important;
  line-height: 19px !important;
  border-radius: 2px;
}

.btn-back-login {
  color: #45A5D2;
}

.card {
  border: none;
}

.card-heading {
  padding: 15px;
}

.card-heading h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #000;
}

.alkiyo-select-input {
  border-radius: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #ADABAB;
  border: 1px solid #ECECEC;
}

.alkiyo-select-input:focus {
  border-color: #ECECEC;
}

.alkiyo-inputs label {
  color: #ADABAB;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.login-input {
  border: 1px solid rgba(173, 171, 171, 0.32);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  border-radius: 2px;
  height: 40px;
}

.login-input:focus {
  border-color: rgba(173, 171, 171, 0.32);
}

.login-input::-webkit-input-placeholder {
  /* Edge */
  color: #ADABAB;
}

.login-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ADABAB;
}

.login-input::-ms-input-placeholder {
  color: #ADABAB;
}

.login-input::placeholder {
  color: #ADABAB;
}

.sort-input {
  padding: 15px 0px;
  text-align: right;
}

.sort-input .form-group {
  margin-bottom: 0px;
}

.sort-input .form-group .form-control {
  width: 238px;
  display: initial;
  border-radius: 0px;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.sort-input .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ced4da;
}

.wapper .wapper-head {
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
}

/* The container */
.alkiyo-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.alkiyo-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.alkiyo-checkbox .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.alkiyo-checkbox:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.alkiyo-checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.alkiyo-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.alkiyo-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.alkiyo-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-border {
  background-color: #fff;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  border-color: #ea7b36;
  border-radius: 2px;
}

.btn-border:hover, .btn-border:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #000;
}

.border-blue {
  background-color: #1c385c;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  border-color: #1c385c;
  border-radius: 2px;
}

.border-blue:hover, .border-blue:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #192e48;
  background-color: #192e48;
  color: #fff;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: 0.010em;
  content: "";
  border: none;
  background-image: url(../images/icons/dropdown-icon.png);
  height: 8px;
  width: 8px;
  background-size: 8px;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bb-1 {
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
}

.bl-1 {
  border-left: 1px solid rgba(112, 112, 112, 0.13);
}

.product-remove {
  position: relative;
}

.product-remove .btn-product-remove {
  position: absolute;
  top: 7px;
  right: 7px;
  color: #ADABAB;
  background: transparent;
  border: 1px solid #ADABAB;
  border-radius: 100%;
  padding: 0px;
  line-height: normal;
  font-size: 14px;
  width: 19px;
  height: 19px;
}

.h-265 {
  height: 265px;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-top: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 200px;
  min-width: 150px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 11px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.modal-heading {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
}

.label-light {
  color: #ADABAB !important;
}

.text-blue {
  color: #1c385c;
}

.blue-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #1C385C;
}

/* The container */
.alkiyo-radio {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ADABAB;
}

/* Hide the browser's default radio button */
.alkiyo-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.alkiyo-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.alkiyo-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.alkiyo-radio input:checked ~ .checkmark {
  background-color: #d8d5d5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.alkiyo-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.alkiyo-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.alkiyo-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #192e48;
}

.max-w-480 {
  max-width: 480px;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  border-color: #EAEAEA !important;
  border-radius: 3px !important;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: .375rem .75rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 4px !important;
}

.header {
  background-color: #1c385c;
  padding-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header .top-header {
  padding: 10px 0px;
}

.header-search .input-group-prepend .input-group-text {
  border: none;
  background-color: #e6e7e9;
}

.header-search .input-group-prepend .input-group-text i {
  color: #888888;
  font-size: 18px;
}

.header-search .form-control {
  background-color: #e6e7e9;
  border: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0px;
}

.header-search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-search::-webkit-input-placeholder {
  /* Edge */
  color: #888888;
}

.header-search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888888;
}

.header-search::-ms-input-placeholder {
  color: #888888;
}

.header-search::placeholder {
  color: #888888;
}

.right-bar-link nav ul {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-bar-link nav ul li {
  display: inline-block;
  margin: 0px 10px;
}

.right-bar-link nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  white-space: nowrap;
}

.right-bar-link nav ul li a i {
  margin-bottom: 3px;
}

.right-bar-link nav ul li .wishlist-item {
  position: relative;
}

.right-bar-link nav ul li .wishlist-item .item-count {
  position: absolute;
  right: 5px;
  background-color: #ff0101;
  border-radius: 100%;
  font-size: 10px;
  line-height: 11px;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -7px;
  font-weight: 500;
}

.bottom-header .navbar {
  padding: 0px;
}

.bottom-header .navbar .navbar-nav .nav-item {
  margin-right: 35px;
}

.bottom-header .navbar .navbar-nav .nav-item:hover .dropdown-upper {
  display: block;
}

.bottom-header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.bottom-header .navbar .navbar-nav .dropdown-menu {
  background-color: #1c385c;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  padding-top: 15px;
  min-width: 200px;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul {
  margin: 0px;
  padding: 0px;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul li {
  list-style: none;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul li:hover {
  background-color: #183A65;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul .sub-menu {
  position: relative;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul .sub-menu .dropdown-mid {
  padding-top: 0px;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul .sub-menu:hover .dropdown-mid {
  display: block !important;
  left: 100%;
  top: 0px;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul .sub-menu .dropdown-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header .navbar .navbar-nav .dropdown-menu ul .sub-menu .dropdown-sub:after {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.bottom-header .navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 12px;
}

.bottom-header .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, .bottom-header .navbar .navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
}

.category-link {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 15px;
}

.category-link:hover, .category-link:focus {
  color: #d6d2d2;
  text-decoration: none;
}

.search-products {
  padding: 35px 10px;
  background-color: #fff;
  border-radius: 4px;
}

.search-products .search-heading h2 {
  color: rgba(0, 0, 0, 0.52);
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 400;
}

.search-products .search-tabs .nav {
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e8e1e1;
}

.search-products .search-tabs .nav .nav-item .nav-link {
  border: 0px;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.search-products .search-tabs .nav .nav-item .nav-link.active {
  border-bottom: 2px solid #1c385c !important;
  color: #1c385c;
}

.search-products .search-tabs .tab-content .form-group .form-control {
  border-color: #EAEAEA;
  border-radius: 3px;
}

.search-products .search-tabs .tab-content .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner-contant-detail {
  color: #fff;
}

.banner-contant-detail h3 {
  font-size: 44px;
  line-height: 39px;
  font-weight: 600;
}

.banner-contant-detail h3 span {
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
}

.banner-contant-detail h4 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  font-style: italic;
}

.banner-contant-detail p {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.banner-contant-slider .carousel-indicators {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 0px;
  margin-bottom: 0px;
}

.banner-contant-slider .carousel-indicators .carousel-indicators.active li {
  background-color: #ea7b36;
}

.banner-slider {
  position: relative;
}

.banner-slider .banner-search {
  position: absolute;
  top: 85px;
  left: 150px;
}

.banner-slider .carousel-indicators {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5%;
}

.banner-slider .carousel-indicators li {
  color: #fff;
  border-bottom: 2px solid #fff;
  padding: 0px 12px;
  margin: 0px 10px;
  margin-bottom: 35px;
  text-decoration: none;
  text-indent: 1px;
  width: auto;
  height: auto;
  border-top: 0px solid transparent;
  background-color: transparent;
  opacity: 1;
  font-size: 14px;
}

.banner-slider .carousel-indicators li.active {
  color: #ea7b36;
  border-color: #ea7b36;
}

.banner-slider .carousel-caption {
  top: 100px;
  left: 500px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  right: 30%;
}

.banner-slider .carousel-banner-heading {
  position: absolute;
  top: 50px;
  right: 100px;
}

.banner-slider .carousel-banner-heading h3 {
  color: #fff;
  font-weight: 500;
}

.popular-brands .flexslider {
  margin-bottom: 0px;
}

.popular-brands .flexslider .slides li {
  border-right: 1px solid rgba(112, 112, 112, 0.08);
}

.flex-direction-nav a {
  width: 35px !important;
  height: 35px !important;
  -webkit-box-shadow: 0px 0px 6px #0000001C !important;
          box-shadow: 0px 0px 6px #0000001C !important;
  border-radius: 100%;
  text-align: center !important;
  vertical-align: middle;
  line-height: 35px;
  background-color: #fff;
}

.flex-direction-nav a:before {
  font-size: 20px !important;
}

.flex-control-nav {
  display: none;
}

.product-categorie-link:hover {
  text-decoration: none;
}

.product-categorie-link:hover .product-categorie {
  position: relative;
  z-index: 1;
}

.product-categorie-link .product-categorie {
  background-color: #fff;
  border: 1px solid rgba(227, 227, 227, 0.41);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.product-categorie-link .product-categorie .product-categorie-img img {
  width: 100%;
}

.product-categorie-link .product-categorie .product-categorie-name {
  text-align: center;
  padding: 15px 5px;
}

.product-categorie-link .product-categorie .product-categorie-name h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}

.new-arrivals-detail {
  border: 1px solid rgba(227, 227, 227, 0.41);
}

.new-arrivals-detail .new-arrivals-img img {
  width: 100%;
}

.new-arrivals-detail .new-arrivals-name {
  text-align: center;
  padding: 15px 10px;
}

.new-arrivals-detail .new-arrivals-name h3 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.new-arrivals-detail .new-arrivals-name p {
  color: #ADABAB;
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
}

.new-arrivals-detail .new-arrivals-name a {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
  margin-top: 20px;
}

.prodect-add .prodect-add-detail .prodect-add-brand {
  padding: 0px 15px;
}

.prodect-add .prodect-add-detail .prodect-add-brand .brand-logo img {
  width: 137px;
  height: 60px;
}

.prodect-add .prodect-add-detail .prodect-add-brand .prodect-add-head {
  margin-top: 45px;
}

.prodect-add .prodect-add-detail .prodect-add-brand .prodect-add-head h3 {
  font-size: 33px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0px;
}

.prodect-add .prodect-add-detail .prodect-add-brand .prodect-add-head h3 span {
  font-size: 33px;
  line-height: 39px;
  text-transform: uppercase;
  color: #1c385c;
  font-weight: 500;
}

.prodect-add .prodect-add-detail .prodect-add-brand .prodect-add-head span {
  color: #ADABAB;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.prodect-add .prodect-add-detail .prodect-add-brand p {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.prodect-add .prodect-add-detail .prodect-add-img img {
  border-radius: 15px;
  width: 100%;
}

.prodect-add .carousel-indicators {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 1%;
  bottom: -42px;
}

.prodect-add .carousel-indicators li {
  color: #000;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ADABAB;
  opacity: 1;
}

.prodect-add .carousel-indicators li.active {
  background-color: #45A5D2;
}

.featured-products-link:hover {
  text-decoration: none;
}

.featured-products-link .featured-products-detail {
  border: 1px solid rgba(227, 227, 227, 0.41);
}

.featured-products-link .featured-products-detail .featured-products-img img {
  width: 100%;
}

.featured-products-link .featured-products-detail .featured-products-name {
  padding: 15px 10px;
  text-align: center;
}

.featured-products-link .featured-products-detail .featured-products-name h3 {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.featured-products-link .featured-products-detail .featured-products-name p {
  color: #ADABAB;
  font-size: 14px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.recently-viewed .recently-viewed-slider img {
  width: 100%;
  height: 113px;
}

.footer {
  background-color: #1c385c;
}

.footer .footer-top .footer-about img {
  width: 100px;
  margin-bottom: 12px;
}

.footer .footer-top .footer-about h5 {
  color: #F2F2F2;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.footer .footer-top .footer-about p {
  color: #F2F2F2;
  font-size: 14px;
  line-height: 20px;
}

.footer .footer-top .footer-link .footer-heading {
  margin-bottom: 16px;
}

.footer .footer-top .footer-link .footer-heading h5 {
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  font-style: italic;
}

.footer .footer-top .footer-link nav ul {
  margin: 0px;
  padding: 0px;
}

.footer .footer-top .footer-link nav ul li {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
  margin-bottom: 22px;
  margin-right: 20px;
}

.footer .footer-top .footer-link nav ul li a {
  color: #fff;
}

.footer .footer-top .footer-link .social-links ul {
  margin: 0px;
  padding: 0px;
}

.footer .footer-top .footer-link .social-links ul li {
  list-style: none;
  display: inline-block;
}

.footer .footer-top .footer-link .social-links ul li a i {
  font-size: 18px;
  color: #fff;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright p {
  color: #F2F2F2;
  font-size: 14px;
  line-height: 16px;
}

.footer .footer-bottom {
  background-color: #192e48;
}

.footer .footer-bottom h5 {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer .footer-bottom p {
  color: #F2F2F2;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.43;
}

.footer .footer-bottom p span {
  color: #F2F2F2;
  opacity: 0.43;
}

.footer .footer-bottom p a {
  color: #F2F2F2;
}

.footer .footer-bottom p a:hover {
  opacity: 1;
  text-decoration: none;
}

.breadcrumb-nav {
  padding: 10px 0px 0px;
}

.breadcrumb-nav .breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 0px;
}

.breadcrumb-nav .breadcrumb li {
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-right: 3px;
  font-weight: normal;
}

.breadcrumb-nav .breadcrumb li a {
  color: #000;
}

.breadcrumb-nav .breadcrumb li a:hover {
  text-decoration: none;
}

.breadcrumb-nav .breadcrumb li.active {
  font-weight: 500;
}

.category-products-link:hover {
  text-decoration: none;
}

.category-products-link .category-products-detail .category-products-img img {
  width: 100%;
}

.category-products-link .category-products-detail .category-products-name {
  padding: 15px 10px;
  text-align: center;
}

.category-products-link .category-products-detail .category-products-name h3 {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.filters {
  border-right: 1px solid rgba(112, 112, 112, 0.13);
}

.filters .filter-section {
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
  padding: 15px;
}

.filters .filter-section a {
  text-decoration: none;
}

.filters .filter-section .filter-heading {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  position: relative;
}

.filters .filter-section .filter-heading:after {
  font-family: "FontAwesome";
  font-size: 22px;
  display: inline-block;
  content: '\f107';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  right: 0;
}

.clear .clear-title {
  color: #000;
  font-size: 16px;
  line-height: 19px;
}

.clear .clear-link-btn {
  color: #ea7b36;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.clear .clear-link-btn:hover, .clear .clear-link-btn:focus {
  color: #000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-search .input-group .form-control {
  border-radius: 2px 0px 0px 2px;
  font-size: 12px;
  line-height: 20px;
  background-color: #ECECEC;
  border: none;
  height: 28px;
}

.filter-search .input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filter-search .input-group .input-group-append .filter-search-btn {
  background-color: #ECECEC;
  font-size: 12px;
  line-height: 20px;
  height: 28px;
  padding: 0px;
  width: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 2px 2px 0px;
}

.filter-search .input-group .input-group-append .filter-search-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkbox-add .btn {
  font-size: 12px;
  line-height: 20px;
  color: #ea7b36;
}

.checkbox-add .btn:focus, .checkbox-add .btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000;
}

.collection-item .collection-item-img {
  background-color: rgba(224, 224, 224, 0.44);
  margin-bottom: 8px;
}

.collection-item .collection-item-img a img {
  width: 100%;
}

.collection-item .collection-item-name {
  margin-bottom: 7px;
}

.collection-item .collection-item-name a {
  text-decoration: none;
}

.collection-item .collection-item-name a h3 {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 2px;
  font-weight: 400;
}

.collection-item .collection-item-name .modal-name {
  color: #ADABAB;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0px;
}

.collection-item .collection-item-name .price {
  color: #000;
  font-size: 14px;
  line-height: 16px;
}

.compare-box {
  width: 300px;
  background-color: #fff;
  padding: 10px 5px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  z-index: 1;
  border: 1px solid #dcd4d4;
}

.compare-box .compare-box-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.compare-box .compare-box-items div {
  margin: 0px 5px;
  position: relative;
}

.compare-box .compare-box-items div img {
  width: 100%;
  background-color: rgba(224, 224, 224, 0.44);
  margin-bottom: 8px;
}

.compare-box .compare-box-items div h3 {
  color: #000;
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.compare-box .compare-box-items div .btn-compare-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ADABAB;
  background: transparent;
  border: 1px solid #ADABAB;
  border-radius: 100%;
  padding: 0px;
  line-height: normal;
  font-size: 12px;
  width: 17px;
  height: 17px;
}

.compare-box .compare-box-items div .btn-compare-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.lSSlideOuter .lSSlideWrapper {
  position: static;
}

.lSSlideOuter .lSPager {
  display: none;
}

.popular-brands-slide li {
  text-align: center;
  border-right: 1px solid rgba(112, 112, 112, 0.08);
}

.popular-brands-slide li img {
  width: 130px;
}

.lSAction a {
  background-image: none;
  width: 35px !important;
  height: 35px !important;
  -webkit-box-shadow: 0px 0px 6px #0000001C !important;
  box-shadow: 0px 0px 6px #0000001C !important;
  border-radius: 100%;
  text-align: center !important;
  vertical-align: middle;
  line-height: 35px;
  background-color: #fff;
  top: 63% !important;
}

.lSAction .lSPrev {
  left: -18px !important;
}

.lSAction .lSPrev::after {
  font-family: "FontAwesome";
  font-size: 22px;
  display: inline-block;
  content: '\f104';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.lSAction .lSNext {
  right: -18px !important;
}

.lSAction .lSNext::after {
  font-family: "FontAwesome";
  font-size: 22px;
  display: inline-block;
  content: '\f105';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.recently-viewed-slide li {
  text-align: center;
}

.alkiyo-product-detail .alkiyo-product-image {
  margin-left: 92px;
  height: 503px;
  overflow: hidden;
}

.alkiyo-product-detail .alkiyo-product-image img {
  width: 100%;
  border: 1px solid rgba(112, 112, 112, 0.19);
  height: 453px;
}

.alkiyo-product-detail .product-image-list {
  position: absolute;
  left: 15px;
  top: 0;
  width: 84px;
  margin: 0 auto;
}

.alkiyo-product-detail .product-image-list ul {
  margin: 0px;
  padding: 0px;
}

.alkiyo-product-detail .product-image-list ul li {
  list-style: none;
  margin-bottom: 8px;
}

.alkiyo-product-detail .product-image-list ul li a img {
  width: 100%;
  border: 1px solid rgba(112, 112, 112, 0.19);
  height: 84px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-heading {
  margin-bottom: 23px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-heading .company-name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #45A5D2;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-heading h2 {
  font-size: 22px;
  line-height: 25px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-heading .modal-name {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-price {
  position: relative;
  display: inline-block;
  margin-bottom: 23px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-price p {
  font-size: 30px;
  line-height: 35px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-price p i {
  font-size: 27px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-price .info {
  position: absolute;
  top: 0;
  right: -16px;
  z-index: 1;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-price .info a {
  font-size: 10px;
  line-height: 10px;
  border: 1px solid #ADABAB;
  border-radius: 100%;
  color: #ADABAB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14px;
  height: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alkiyo-product-detail .product-overviewdetail .select-color {
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
  padding-bottom: 10px;
  margin-bottom: 23px;
  display: block;
}

.alkiyo-product-detail .product-overviewdetail .select-color h5 {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 400;
}

.alkiyo-product-detail .product-overviewdetail .select-color nav ul {
  padding: 0px;
  margin: 0px;
}

.alkiyo-product-detail .product-overviewdetail .select-color nav ul li {
  display: inline-block;
  margin-right: 5px;
  width: 60px;
  text-align: center;
}

.alkiyo-product-detail .product-overviewdetail .select-color nav ul li a {
  text-decoration: none;
}

.alkiyo-product-detail .product-overviewdetail .select-color nav ul li a img {
  width: 100%;
  height: 34px;
}

.alkiyo-product-detail .product-overviewdetail .select-color nav ul li a span {
  font-size: 12px;
  line-height: 14px;
  color: #ADABAB;
}

.alkiyo-product-detail .product-overviewdetail .select-color nav ul li.active a {
  border: 1px solid rgba(112, 112, 112, 0.17);
  display: block;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-content {
  margin-bottom: 23px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-content p {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin-bottom: 0px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-content p a {
  font-size: 14px;
  line-height: 19px;
  color: #45A5D2;
  text-decoration: none;
}

.alkiyo-product-detail .product-overviewdetail .search-dealer h5 {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 500;
}

.alkiyo-product-detail .product-overviewdetail .search-dealer .input-group {
  margin-bottom: 23px !important;
}

.alkiyo-product-detail .product-overviewdetail .search-dealer .input-group .form-control {
  border-color: rgba(112, 112, 112, 0.36);
  border-radius: 3px 0px 0px 3px;
  font-size: 12px;
  line-height: 14px;
  height: 38px;
}

.alkiyo-product-detail .product-overviewdetail .search-dealer .input-group .input-group-append .btn {
  background-color: #45A5D2;
  border-radius: 3px;
  color: #fff;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-btn .btn {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 8px;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-btn .btn-border {
  color: #ea7b36;
}

.alkiyo-product-detail .product-overviewdetail .overviewdetail-btn .btn-border:hover {
  color: #000;
}

.product-description {
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
  margin-bottom: 15px;
}

.product-description h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}

.product-description p {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
}

.wishlist-heading .card-heading h3 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

.product-company-name {
  margin-bottom: 10px;
}

.product-company-name ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
}

.product-company-name ul li {
  list-style: none;
  margin-right: 10px;
}

.product-company-name ul li h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #000;
}

.product-company-name ul li:nth-child(1) {
  border-right: 1px solid rgba(112, 112, 112, 0.14);
}

.compare-list .table tr th {
  min-width: 200px;
  max-width: 200px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 500;
  border-top: 0px;
}

.compare-list .table tr th h2 {
  font-size: 24px;
  line-height: 28px;
}

.compare-list .table tr td {
  min-width: 200px;
  max-width: 200px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
  border-top: 0px;
  border-left: 1px solid rgba(112, 112, 112, 0.13);
}

.brand-detail .product-brand-name ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.brand-detail .product-brand-name ul li {
  list-style: none;
}

.brand-detail .product-brand-name ul li img {
  width: 100%;
}

.brand-detail .product-brand-name ul li h2 {
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 26px;
  color: #1c385c;
  font-weight: 500;
  font-style: italic;
}

.brand-detail .product-brand-name ul li p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
}

.brand-detail .product-brand-name ul li span {
  font-size: 14px;
  line-height: 27px;
  color: #9B9B9B;
  font-weight: 400;
}

.brand-detail .product-brand-name .product-brand-detail p {
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.brand-histry-heading h2 {
  font-size: 20px;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}

.brand-histry-heading p {
  font-size: 14px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
}

.tree-grid .right-border-space {
  border-left: 1px solid #ECECEC;
}

.tree-grid .row {
  margin-right: 0px;
  margin-left: 0px;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item:hover .timeline-box {
  background-color: #1c385c;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item:hover .timeline-box p {
  color: #fff;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item:hover .circle {
  background: #1c385c;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item .timeline-box {
  background-color: #F2F2F2;
  padding: 10px;
  position: relative;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item .timeline-box p {
  font-size: 12px;
  line-height: 14px;
  color: #9B9B9B;
  text-align: left;
  text-overflow: ellipsis;
  overflow: overlay;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item p {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #9B9B9B;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item .circle {
  background: #0996DB;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-left {
  margin-right: 50px;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-left h5 {
  clear: both;
  text-align: right;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-left p {
  text-align: right;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-left .circle {
  right: -57px;
  top: 40%;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-left .circle:after {
  content: "";
  background-color: #ECECEC;
  width: 45px;
  height: 1px;
  top: 5px;
  right: 12px;
  position: absolute;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-right {
  margin-top: 100px;
  margin-left: 50px;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-right .circle {
  left: -57px;
  top: 36%;
}

.tree-grid .cos-about-timeline .cos-about-timeline-item-right .circle:after {
  content: "";
  background-color: #ECECEC;
  width: 45px;
  height: 1px;
  top: 6px;
  left: 12px;
  position: absolute;
}

.glimpses-ditail .glimpses-slider .glimpses-slide-item img {
  width: 100%;
  margin-bottom: 15px;
}

.glimpses-ditail .glimpses-slider .glimpses-slide-item h2 {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 0px;
}

.glimpses-ditail .glimpses-slider .glimpses-slide-item p {
  font-size: 12px;
  line-height: 14px;
  color: #9B9B9B;
}

.glimpses-ditail .glimpses-slider .lSSlideOuter .lSSlideWrapper .lSAction {
  display: none !important;
}

.glimpses-ditail .glimpses-slider .lSSlideOuter .lSPager {
  display: block;
}

.glimpses-ditail .glimpses-slider .lSSlideOuter .lSPager li a {
  width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.27);
}

.brands-items .brands-items-detail .brands-item-content {
  text-align: center;
  margin-bottom: 20px;
}

.brands-items .brands-items-detail .brands-item-content img {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px #00000012;
          box-shadow: 0px 0px 5px #00000012;
  margin-bottom: 10px;
}

.brands-items .brands-items-detail .brands-item-content h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.find-dealer .find-dealer-detail {
  margin-top: 30px;
}

.find-dealer .find-dealer-detail .dealer-address img {
  margin-bottom: 10px;
}

.find-dealer .find-dealer-detail .dealer-address h2 {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.find-dealer .find-dealer-detail .dealer-address ul {
  margin: 0px;
  padding: 0px;
}

.find-dealer .find-dealer-detail .dealer-address ul li {
  list-style: none;
  font-size: 12px;
  line-height: 22px;
  color: #000;
  font-weight: 400;
}

.find-dealer .find-dealer-detail .dealer-address ul li i {
  margin-right: 5px;
}

.aside-produdts {
  border-left: 1px solid rgba(112, 112, 112, 0.13);
  padding: 30px 15px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 135px;
}

.aside-produdts .aside-items {
  margin-bottom: 15px;
}

.aside-produdts .aside-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-decoration: none;
}

.aside-produdts .aside-items a .aside-items-img {
  margin-right: 10px;
}

.aside-produdts .aside-items a .aside-items-img img {
  width: 80px;
}

.aside-produdts .aside-items a .aside-items-content h4 {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: 400;
  margin-bottom: 0px;
}

.aside-produdts .aside-items a .aside-items-content p {
  font-size: 14px;
  line-height: 16px;
  color: #ADABAB;
  font-weight: 400;
  margin-bottom: 0px;
}

.aside-produdts .aside-items a .aside-items-content span {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 400;
}

.login-detail {
  width: 853px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 0px 0px 18px #00000015;
          box-shadow: 0px 0px 18px #00000015;
  background-color: #fff;
  padding: 30px;
}

.login-detail .login-head h2 {
  font-size: 24px;
  line-height: 28px;
  color: #ADABAB;
  font-weight: 500;
}

.login-detail .login-form .form-group label {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  font-weight: 400;
}

.login-detail .login-form .form-group a {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #45A5D2;
  text-decoration: none;
}

.login-detail .not-account h2 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0px;
}

.login-detail .not-account p {
  font-size: 13px;
  line-height: 15px;
  color: #ADABAB;
  font-weight: 400;
}

.login-detail .login-aside .login-aside-logo {
  text-align: right;
}

.login-detail .login-aside .login-aside-detail .login-aside-heading h2 {
  font-size: 27px;
  line-height: 33px;
  font-weight: 400;
  color: #000;
  margin-bottom: 0px;
  position: relative;
}

.login-detail .login-aside .login-aside-detail .login-aside-heading h2 span {
  font-weight: 500;
  color: #1c385c;
  text-transform: uppercase;
}

.login-detail .login-aside .login-aside-detail .login-aside-heading h2:before {
  content: "";
  background-color: #45A5D2;
  height: 3px;
  width: 55px;
  top: -4px;
  left: 0;
  z-index: 1;
  position: absolute;
}

.login-detail .login-aside .login-aside-detail .login-aside-heading p {
  font-size: 16px;
  line-height: 19px;
  color: #ADABAB;
  font-weight: 500;
}

.login-detail .login-aside .login-aside-detail .login-aside-body p {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 400;
}

.login-detail .login-aside .login-aside-detail .login-aside-body img {
  border-radius: 2px;
  width: 100%;
}

.resend-btn-position {
  position: relative;
}

.resend-btn-position .login-input {
  padding-right: 65px;
}

.resend-btn-position .resend-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
  line-height: 40px;
  vertical-align: middle;
  z-index: 1;
  color: #45A5D2;
  font-size: 14px;
}

.change-password-remove {
  color: #ADABAB;
  background: transparent;
  border: 1px solid #ADABAB !important;
  border-radius: 100%;
  padding: 0px !important;
  line-height: normal;
  font-size: 12px;
  width: 17px;
  height: 17px;
  margin-right: 2px !important;
  margin-top: 0px !important;
  opacity: 1;
  z-index: 1;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-forgot-password {
  border-radius: 0px;
}

.modal-forgot-password h2 {
  color: #1c385c;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.login-checkbox {
  color: #ADABAB;
  font-size: 12px;
  line-height: 14px;
  padding-top: 6px;
  padding-left: 21px;
}

.login-checkbox .checkmark {
  border: 1px solid #1c385c;
}

.login-checkbox .checkmark::after {
  border-color: #1c385c;
}

.terms {
  color: #1c385c;
}

.terms:hover {
  text-decoration: none;
  color: #000;
}

.verify-btn-position {
  position: relative;
}

.verify-btn-position .login-input {
  padding-right: 65px;
}

.verify-btn-position .verify-btn {
  position: absolute;
  right: 0px;
  background: transparent;
  border: none;
  vertical-align: middle;
  z-index: 1;
  color: #1c385c;
  font-size: 14px;
  top: 37px;
}

.verify-btn-position .verify-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-verify {
  text-align: center;
  border-radius: 0px;
}

.modal-verify h2 {
  color: #1c385c;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.modal-verify p {
  font-size: 14px;
  line-height: 19px;
  color: #ADABAB;
  margin-bottom: 0px;
}

.modal-verify .modal-verify-bottom span {
  color: #959595;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.modal-verify .modal-verify-bottom a {
  color: #45A5D2;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.modal-verify .modal-verify-bottom a:hover {
  text-decoration: none;
}

.verification-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.verification-inputs .login-input {
  border: 0px;
  border-bottom: 1px solid rgba(173, 171, 171, 0.32);
  margin: 0px 10px;
  width: 30px;
}

.more-products-banner {
  background-image: url(/images/banner/banner-3.jpg);
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
  position: relative;
}

.more-products-banner .more-banner-details h3 {
  font-size: 44px;
  line-height: 39px;
  font-weight: 600;
  color: #1c385c;
}

.more-products-banner .more-banner-details h3 span {
  font-size: 26px;
  line-height: 39px;
  font-weight: 500;
}

.more-products-banner .more-banner-details h4 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.more-products-banner .more-banner-details p {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  color: #fff;
}

.more-products-banner .brand-banner {
  position: absolute;
  top: 30px;
  right: 130px;
}

.user-dropdown .dropdown-menu {
  padding: 0px;
  border-radius: 0px;
}

.user-dropdown .dropdown-menu .dropdown-item {
  color: #000;
  text-align: left;
  padding: 8px 10px;
}

.user-dropdown .dropdown-menu .dropdown-item:active {
  background-color: #ffffff;
}

.edit-number .verify-btn {
  color: #45A5D2 !important;
}

.resend-otp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resend-otp .login-input {
  padding-right: 10px;
}

.resend-otp .resend-btn {
  position: static;
}

.find-heading h2 {
  font-size: 20px;
  line-height: 24px;
  color: #1C385C;
  font-weight: 400;
}

.find-btns h3 {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  font-weight: 400;
}

.find-btns p {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 400;
}

.find-btns .btn-border {
  color: #ea7b36;
}

.find-btns .btn-border:hover, .find-btns .btn-border:focus {
  color: #1c385c;
}

.showers-list .showers-list-item {
  border: 1px solid rgba(112, 112, 112, 0.09);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.showers-list .showers-list-item .showers-count {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  background-color: rgba(173, 171, 171, 0.17);
  width: 26px;
  height: 26px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.showers-list .showers-list-item .showers-address h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.showers-list .showers-list-item .showers-address p {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 400;
  margin-bottom: 8px;
}

.showers-list .showers-list-item .showers-address span {
  font-size: 12px;
  line-height: 17px;
  color: #000;
  font-weight: 400;
  display: block;
}

.showers-list .showers-list-item .showers-address span i {
  margin-right: 3px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
	font-size: 12 px !important;
}
.has-error .help-block
{
    color: #a94442;
	font-size: 12 px !important;
	
}
.has-error .form-control {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.has-error  .control-label
{
	 color: #a94442 !important;
}
.btn-loadmore {
    text-align: center;
    color: #333;
    border-radius: 0px;
    margin: 5px 0;
    padding: 0px;
    font-size: 13px;
    line-height: 5px;
}
.btn-loadmore i {
    font-weight: bold;
    color: #cd3232;
    font-size: 16px;
    display: inline-block;
    padding-left: 5px;
}
.alert-info {
    color: #0c5460 !important;
    background-color: #d1ecf1 !important;
    border-color: #bee5eb !important;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 683px;
  margin-left: 10px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}




/*# sourceMappingURL=content.css.map */