@media (max-width: 767px){
//header
.header{
  position: static;
  .header-logo{
    text-align: center;
  }
  .right-bar-link{
    padding-top: 12px;
  }
}

//banner
.banner-slider{
  .banner-search {
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  } 

  .carousel-banner-heading{
    display: none;
  }

  .carousel-caption{
    display: none;
  }

  .carousel-indicators{
    display: none;
  }

}

//alkiyo-product-detail page
.alkiyo-product-detail{
  .alkiyo-product-image{
    height: auto;
    margin-left: 0px;
    img{
      height: auto;
    }
  }
  .product-image-list{
    display: none;
  }
}

//login
.login-detail{
  max-width: 853px;
  width: auto;
  .bl-1{
    border: none;
  }
}

//login-aside
.login-aside{
  margin-top: 20px;
}

//more-products-banner
.more-products-banner{
  .brand-banner{
    right: 20px;
  }
} 

//tooltip
.tooltip{
  .tooltiptext{
    max-width: 100px;
    min-width: 100px;
  }
} 

//aside-produdts
.aside-produdts{
  border-left:0px;
}
}

@media (min-width:991px){
  .col-20{
      flex: 0 0 20%;
      max-width: 20%;
    }

    .header-logo{
      a{
        img{
          width: 130px;
        }
      }
    } 
  
}

@media (max-width:1024px){
  .banner-slider {

    .carousel-caption {
    
    }
  }
}

@media (max-width:1200px){
  .banner-slider {
    .carousel-caption {
      left: 500px;
      right: 15%;
    }
  }
}

@media (min-width:768px){
  .filter-section{
    .filter-heading{
      &:after{
        display: none !important;
      }
    }
    .collapse{
      display: block;
    }
  }
}
 