<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{menuTitle}}
            <ion-icon name="search" float-right searchiconlist icon-right (click)="onSearch($event)"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row class="boxshadow ">
            <ion-col col-6>
                <button text-center ion-item (click)="displaySort()">
                    <ion-icon name="swap"> Sort</ion-icon>
                </button>
            </ion-col>
            <ion-col col-6>
                <button text-center ion-item class="borderleftcolor" (click)="displayFilters()">
                    <ion-icon name="options"> Filters</ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let row of grid" class="categoryproductlist">
            <ion-col text-center col-6 *ngFor=" let product of row ">
                <ion-item (click)="openPage(product.slug)">
                    <img *ngIf="product " src="https://www.nayashopi.in/{{product.product_img}} ">
                    <h6 *ngIf="product ">{{product.product_name | slice:0:35 }}{{product.product_name.length
                        < 26 ? '' : '...'}}</h6>


                            <ion-grid no-padding>
                                <ion-row no-padding>
                                    <ion-col col-12 class="fa fa-rupee price" *ngIf="product"> {{product.lowest_price}} &nbsp;
                                        <del *ngIf="product.original_price && product.original_price>product.lowest_price" class="fa fa-rupee">{{product.original_price}}</del>
                                    </ion-col>

                                    <ion-col col-6>
                                        <ion-rating [numStars]="5" [readOnly]="true" [value]="product?.rating"></ion-rating>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event) ">
        <ion-infinite-scroll-content loadingSpinner="bubbles " loadingText="Loading ... "></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>