<ion-header class="shrinkable">
    <ion-toolbar color="" no-padding no-margin>
        <div abs backicon tappable (click)="goback()">
            <ion-icon name="arrow-back"></ion-icon>
        </div>
        <ion-searchbar nopadding searchpageelement [(ngModel)]="term" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content whitebackground>
    <ion-item text-center *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </ion-item>
    <ion-list>
        <ion-item *ngFor="let result of searchResults" (click)="onProductSelect(result)">{{result.label}}</ion-item>
    </ion-list>
</ion-content>