<ion-header class="searchpage shrinkable ">

    <ion-toolbar color="" no-padding no-margin>
        <div backicon abs tappable (click)="goback()">
            <ion-icon name="arrow-back"></ion-icon>
        </div>
        <ion-searchbar no-margin nopadding searchpageelement placeholder="e.g redmi note 4" [(ngModel)]="term" [formControl]="searchControl"
            (ionInput)="onSearchInput()"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content whitebackground>

    <div *ngIf="!searchResults.length" text-center class="recentsearches">
        <ion-note>Recent Search</ion-note>

        <ion-list *ngFor="let search of recentSearch  " (click)="redirect(search)">

            <li>

                {{search?.obj?.value}}

            </li>


        </ion-list>
    </div>
    <ion-item text-center *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </ion-item>
    <ion-list class="searchresult">
        <ion-item *ngFor="let result of searchResults" (click)="displayResultDetail(result)">{{result.label}}</ion-item>
    </ion-list>
</ion-content>