.header-md:not(.searchpage)::after{
    background-image:none !important;
}



.couponhome{
    ion-segment{
        background-color:$white;
        padding-top:4px;
      

    }

    ion-col.active{
        display:none;
    }

    ion-col ion-item{
        border-radius: 6px;
        border:1px solid $bordercolor;
        text-align:center;

        h6{
            color:$gray;
            font-size:$fontsizesmall;
            font-weight: 500;
            margin-bottom:5px;

        }
        p{
            font-size:$fontsizesmall;
            color: $color-blue
        }
        
      
    }
    .segment-md .segment-button{
        color:$gray;
        opacity:.5;
        font-size:$fontsizemedium;
        text-transform: capitalize;
    }

    ion-card-content{
        padding-left:20px;
        padding-right:20px;
        background-color:$background-gray;

        .couponscount{
            color:$searchbar-ios-input-search-icon-color;
            opacity:.5;
            font-size:$fontsizesmall;
            padding-left: 5px;
            padding-bottom: 8px;
        }
        .top-search{
            padding:0px 5px 0px 5px !important;
            
            .toolbar-background{
                background-color:transparent;
            }

            ion-searchbar{
                padding:0px !important;
            }
            .searchbar-input{
                border:1px solid $bordercolor;
                background-color:#ffffff;
                border-radius:4px;
            }

            .searchbar-search-icon{
                color:#000000;
                opacity:.3;

            }
        }
    }
    
}
.couponlisthead{
    margin-top:66px !important;
    p{
        padding:0px 16px;
        font-size:$fontsizesmall;
        color:$searchbar-ios-input-search-icon-color;
    }
    img.sliderimagepaddingleft{
        padding-left:10px;
        

    }
    img.sliderimagepaddingright{
        padding-right:10px;
    }
    ion-slide
    {
        margin-left:10px;
         img{
        width:100%;
    }
}
}
ion-card.couponlist{
    margin-bottom:10px !important;

    img{
        height :32px;
         margin:10px auto;
    }
    .borderaroundmage{
        border:1px solid $bordercolor;
        border-radius:50%;
        height:60px;
        width:60px;
    }
    h2{
        font-size:$fontsizeheading;
        color:$gray;
        font-weight: 500;
        margin-bottom:8px;
    }
    p{
        font-size:$fontsizesmall;
        font-weight: 300;
        color:$gray !important;
        font-family:'montserratlight';
        line-height: 20px;
      
    }

    ion-col{
        padding-left:9px;
        padding-top:10px;
    }

    .verifiedexpire{
        font-size:$fontsizesmall;
        color:$gray;
        ion-row.border{
            border-top:1px solid $bordercolor !important;
            border-bottom:1px solid $bordercolor !important;
            padding:13px 0px;
        }
        ion-col{
            text-align:center;
            padding:0px;
            margin:0px;

            ion-icon{
                margin-right:5px;
            }
        }
        p{
            color:$gray;
            font-size:$fontsizesmall;
            text-align:left;
            margin-top:10px;
            line-height:20px;
        }
    }
}

.buttomlist{
    
    border-top:1px solid $bordercolor !important;
    .input-wrapper{
        display:block;
    }
    ion-label{
        padding-top:0px;
        padding-bottom:0px;
        margin-top:0px;
        margin-bottom:0px;
    }
    ion-row{
         
            ion-col{
                padding:4px !important;
                margin:0px !important;
                text-align:center;
            }
}
    button, a {
        background-color:transparent;
        text-transform: capitalize;
        border:0px;
        color:$gray;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-size:$fontsizesmall;;
        padding:0px !important;
        margin:0px !important;
        
        &[primary]{
                color:$color-blue;
                text-transform: capitalize;
        }
        
    }
    .borderright{
        border-right:1px solid  $bordercolor !important;
    }
}

.couponmodal{
    background-color:$white !important;
.item-md.item-block .item-inner{

border:0px;
}
ion-row{
    margin-top:30px;
    padding:0px 20px;
ion-note{
    font-size:$fontsizesmall;
    color:$gray;
}

ion-label{
    text-align:center;
}

textarea{
    text-align:center;
    font-size:28px;
    color:$gray;
    font-weight: bold;
    resize: none;
    border:0px;
    font-family:'montserratbold';
    line-height:24px;
    height:28px;
    width:100%;
}
button{
    height:4.8rem;
    font-size:1.2rem;
    border-radius:4px;
    text-transform: capitalize !important;
    font-family:'montserratbold';
}

button[color="light"],p[color="light"]{
    color:$gray;
}

}
}

[textaraeablock] {.item-inner{
    padding:0px !important;
}
ion-label{
    padding:0px !important;
    margin-right:0px !important;
}
}