<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{menuTitle}}
            <ion-icon name="search" float-right searchiconlist icon-right (click)="onSearch($event)"></ion-icon>
        </ion-title>

    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card no-padding no-margin class="widthfull couponhome">
        <ion-card-content>

            <ion-toolbar class="top-search">
                <ion-searchbar #searchInput (ionInput)="updateFilterList()" placeholder="Search Store ex. flipkart" autocorrect="off"></ion-searchbar>
            </ion-toolbar>


            <ion-row margin-top class="couponscount">
                {{cashBackAndCoupons?.length}} top store available
            </ion-row>

            <ion-row>
                <ion-col col-6 *ngFor="let coupon of cashBackAndCoupons; let i=index" [ngClass]="{active: isNotActive(i)}">
                    <ion-item (click)="open(coupon.id,coupon.name)" *ngIf="coupon.selected">
                        <img src="https://www.nayashopi.in/{{coupon.image}}">
                        <h6>{{coupon.name}}</h6>


                        <p>{{coupon.offer_count}} offers ></p>
                    </ion-item>
                </ion-col>

            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>