<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{menuTitle}}
            <ion-icon name="search" float-right searchiconlist icon-right (click)="onSearch($event)"></ion-icon>
        </ion-title>

    </ion-navbar>
</ion-header>
<br/>

<ion-content *ngIf="couponList?.length">




    <ion-list no-padding no-margin class="couponlisthead">
        <ion-slides slidesPerView="2" pager="false" loop="true">
            <ion-slide>
                <img class="" height="" src="{{getslider(1)}}" />
            </ion-slide>

            <ion-slide>
                <img class="" height="80" src="{{getslider(2)}}" />
            </ion-slide>

            <ion-slide>
                <img class="" height="80" src="{{getslider(3)}}" />
            </ion-slide>


            <ion-slide>
                <img class="" height="80" src="{{getslider(4)}}" />
            </ion-slide>
        </ion-slides>
        <p>{{couponList?.length}} Active Offers</p>
    </ion-list>

    <ion-card no-padding no-margin class="widthfull couponlist" *ngFor="let coupon of couponList; let i=index;">




        <ion-item>
            <ion-grid no-padding no-margin>
                <ion-row>
                    <ion-col col-3>
                        <div class="borderaroundmage">
                            <img src="{{getImagePath(coupon.category)}}" />
                        </div>
                    </ion-col>
                    <ion-col col-9>
                        <h2>{{coupon.discount}}</h2>
                        <p text-wrap>{{coupon.title}}</p>
                    </ion-col>


                </ion-row>
            </ion-grid>
        </ion-item>



        <ion-item *ngIf="isGroupShown(i)">
            <ion-grid class="verifiedexpire">
                <ion-row class="border">
                    <ion-col col-6>
                        <ion-icon name="stopwatch"></ion-icon> Valid till {{coupon.expiry_date}}

                    </ion-col>
                    <ion-col col-6>
                        <ion-icon name="checkmark-circle-outline"></ion-icon> verified

                    </ion-col>
                </ion-row>

                <ion-row>

                    <p text-wrap>{{coupon.description}}</p>
                </ion-row>
            </ion-grid>

        </ion-item>



        <ion-item class="buttomlist">
            <ion-row>
                <div *ngIf="isGroupShown(i); then hide else show"></div>

                <ng-template #hide>
                    <ion-col col-6 no-padding no-margin class="borderright">
                        <button no-padding no-margin ion-button icon-left item-left (click)="toggleGroup(i)">
                            Hide Details
                        </button>
                    </ion-col>
                </ng-template>
                <ng-template #show>
                    <ion-col col-6 no-padding no-margin class="borderright">
                        <button no-padding no-margin ion-button icon-left item-left (click)="toggleGroup(i)">
                            View Details
                        </button>
                    </ion-col>
                </ng-template>

                <div *ngIf="coupon.type; then deal else offer"></div>

                <ng-template #deal>
                    <ion-col col-6 no-padding no-margin>
                        <a (click)="openWithInAppBrowser(coupon?.redirectLink)" no-padding no-margin ion-button primary icon-left item-left>
                            {{coupon.call_to_action_button}}
                        </a>
                    </ion-col>
                </ng-template>
                <ng-template #offer>
                    <ion-col col-6 no-padding no-margin>
                        <button no-padding no-margin ion-button primary icon-left item-left (click)="openmodal(coupon) ">
                            {{coupon.call_to_action_button}}
                        </button>
                    </ion-col>
                </ng-template>

            </ion-row>
        </ion-item>

    </ion-card>
    <br/>
    <br/>



</ion-content>