<ion-content class="couponmodal">



    <ion-item>
        <ion-icon item-end name="close" (click)="dismiss()"></ion-icon>
    </ion-item>


    <ion-row>
        <ion-col no-padding center text-center>
            <ion-note center text-center>
                Coupon Code
            </ion-note>
            <ion-item no-padding textaraeablock>
                <textarea id="copyTarget" [value]="code"></textarea>
            </ion-item>
            <button id="cpyBtn" center text-center ion-button block data-clipboard-target="#copyTarget">Copy to Clipboard</button>
            <button (click)="share(coupon)" margin-top center text-center ion-button block color="light">Share with friends</button>
            <p color="light">
                <a (click)="openWithInAppBrowser(coupon?.redirectLink)" button clear item-right>Go to {{name}}</a> and Avail this offer</p>
        </ion-col>
    </ion-row>



</ion-content>