
page-home {
    .card-md{
        border-radius:4px;
        margin:8px 8px 16px 8px !important;
        -webkit-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.12);
        box-shadow: 0 2px 2px 0 rgba(255,255,255  , 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.12);
     }
       
    
    ion-card-header{
        color:$gray !important;
        font-size:$fontsizeheading !important;
        opacity:1 !important;
    }

    .hotoffer {
        ion-slides{
            padding-left:17px;
            padding-bottom:16px;
        }

        button.viewall{
            background:transparent;
            color:$color-blue;
            border:0px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            font-family:'montserratbold';
            font-size:$fontsizemidmedium !important;
        }
      
        
        
        ion-slide{
         


            ion-item{

        border:1px solid #f3f3f3;
        height:160px;
        width:92%;
        border-radius:4px;
        padding-left:0px !important;
        .item-inner{
            padding-left:12px !important;
            padding-right:8px !important;
            ion-label{
                margin: 13px 0px 13px 0 !important; 
            }
        }
        
        img{
            width:33px;
            margin:0px auto;
        }
        h5{
            font-size:$fontsizesmall;
            margin-top:16px;
            color:$gray;
        }h6{
            text-align: left;
            float:left;font-size:$fontsizelight;
            color:$gray;
            del{
                color:$searchbar-md-input-search-icon-color;
                opacity:.5;
            }
        }
    }
    }
    }
    .coupon{
        img{
            width:auto !important;
            margin:0px auto;
        }
        h5{
            margin-top:5px !important;
            margin-bottom:6px !important;
        }
        h6{
            color:$color-blue;
            float:none  !important;
            font-size: $fontsizesmall !important;
        } 
    }

    .searchbar-md .searchbar-search-icon{
        right: 16px;
        left: unset;
        opacity:.2;
        background-size: 25px;
    }

    .searchbar-md{
        padding:16px;
    }

    .card-md h1{
        padding-left:16px; 
        padding-right:16px;
        padding-bottom:0px;
        padding-top:10px;
        
        font-size:$fontsizeheading;
        color: #514f66
    }
    
    
}



.carousel {
    ion-card-content{
        padding:0px;
    }
  }

.bannercarousel img{
    min-height:130px;
}


.searchbar-md .searchbar-input{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
   
   
   font-family: 'montserratregular';
    font-size:$fontsizemedium !important;
    border-radius:4px !important;
    padding: 6px 20px !important;
}

.content-md{
    background-color:#f9f9f9;
}

b.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{

    border-color:#0094ed;
    color:#514f66;
    font-size:$fontsizesmall;
    border-bottom-width: 3px
}
.segment-md .segment-button{
color:#514f66;
}

.topcategory{ 
    ion-item{

        width:100%;
        border:1px solid $bordercolor;
        text-align:center;
        min-height: 80px;
        border-radius:4px;
        padding-left:0px !important;
        .item-inner{
            padding-right:0px !important;
        }
        
    }
    ion-note{
     color:   #514f66;
     font-size:$fontsizelight !important;
     min-height: 32px;
     display: inline-flex;
    }
    img{
    margin:0px auto;
    height:32px;
    width:32px;
}

.label-md{
    margin:13px 0px 13px 0 !important;
    word-wrap: unset;
    white-space: unset;
}
}


.compareblockhome{
 ion-grid{
    padding-left:16px;
    padding-right:16px;
    padding-top:0px;
    button{
        height:3.8rem !important;
    }
                .badge-md{
                border-radius: 50%;
                color: #fff;
                background-color: $gray;
                height: 25px;
                width: 24px;
                margin:0px auto;
                padding:0px;
                font-size:$fontsizesmall;
                margin-top:100%;
                margin-left:23%;
                line-height: 23px;
            }
     ion-row{
         padding-top:0px !important;
    
    ion-item{

        .item-inner{
            padding:0px !important;
            ion-label{
                margin:0px !important;
                padding-left:10px !important;
                padding-right: 10px !important;
            }
        }
        .minheight{
            min-height: 60px;
        }
        img.thubnail-image{
            margin:0px auto;
            width:2em;
        }
        border:1px solid $bordercolor;
        
        height:120px;
        border-radius:4px;
        color:$gray;
        opacity:.5;
        ion-icon:not(.noborder){
            border-radius:50%;
            border:1px dashed $gray;
            
            opacity:.9;
            height:40px;
            width:40px;
            padding-top: 9px;
            padding-left: 1px;
        }
        h2{
            font-size:$fontsizesmall;
            margin-top:20px;
            opacity:.5;
        }

        h6{
            font-size:$fontsizesmall; 
            opacity: .9;
            text-align:left;
            color:$gray;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        h3{
            text-align:left;
            font-size:$fontsizesmall;
            opacity:.9;
        }
    }}
}
}

.toolbar-title{
font-size:$fontsizemidmedium;
font-family: 'montserratmedium';
font-weight: 700;
text-overflow: ellipsis !important;
line-height: 50px !important;
img{
    vertical-align: middle !important;
}
}
.toolbar-background-md {
     border-color: transparent;
    background:$color-blue;
    
}
.tabs-md {
   .tab-button-text{
        font-size:1rem;
    }
    
    .tab-button{
    min-height:5rem !important;
}
}



 .tabs-md .tabbar{
     background-color:$white !important;
 }

 .back-button-icon-md{
     font-size:2rem !important;
 }

 [nopadding]{
     padding:0px !important;
 }