<ion-header>
  <ion-navbar>
    <ion-title text-uppercase home>
      <img src="assets/imgs/Nayashopi-Home-logo.png" height="30" />

    </ion-title>
  </ion-navbar>
</ion-header>




<ion-content class="carousel ">
  <ion-card fullshadow>
    <ion-card-content class="bannercarousel">
      <ion-slides *ngIf="sliderImages && sliderImages.length" pager="true" autoplay="false" loop="true">
        <ion-slide *ngFor="let slider of sliderImages">
          <img height="130" src="https://www.nayashopi.in/{{slider.image}}" />
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>


  <ion-card fullshadow>
    <ion-card-content>
      <h1>Search Lowest Price for</h1>
      <ion-searchbar placeholder="e.g redmi note 4" (ionFocus)="onSearch($event)">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-card fullshadow>
    <ion-card-header>
      Top Categories
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="topcategory">
          <ion-col col-3 *ngFor="let category of topCategories">
            <ion-item *ngIf="category" (click)="redirecttocategroy(category)">
              <img block src="{{getImagePath(category.slug)}}" />
              <ion-note width-100> {{ category.display_name }}</ion-note>

            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card fullshadow>
    <ion-card-header>
      Hot Offers on Phone
    </ion-card-header>
    <ion-card-content class="hotoffer">
      <div padding>
        <ion-segment [(ngModel)]="categoryWiseProductBox">
          <ion-segment-button value="new">
            New Launch
          </ion-segment-button>
          <ion-segment-button value="popular">
            Popular
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="categoryWiseProductBox">
        <ion-slides *ngSwitchCase="'new'" slidesPerView=2>
          <ion-slide *ngFor="let product of categoryNewProducts">
            <ion-item center text-center (click)="openPage(product.slug)">
              <img src="https://www.nayashopi.in/{{product.product_img}}">
              <h5> {{product.product_name}}</h5>
              <h6 class="fa fa-rupee"> {{product.lowest_price}} &nbsp;&nbsp;
                <del *ngIf="product.original_price && product.original_price>product.lowest_price" class="fa fa-rupee">{{product.original_price}}</del>
              </h6>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col col-8>
                    <ion-rating [numStars]="5" [readOnly]="true" [value]="product?.rating"></ion-rating>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-item>
          </ion-slide>
        </ion-slides>
        <ion-slides *ngSwitchCase="'popular'" slidesPerView=2>
          <ion-slide *ngFor="let product of categoryPopularProducts">
            <ion-item center text-center (click)="openPage(product.slug)">
              <img src="https://www.nayashopi.in/{{product.product_img}}">
              <h5> {{product.product_name}}</h5>
              <h6 class="fa fa-rupee"> {{product.lowest_price}} &nbsp;&nbsp;
                <del *ngIf="product.original_price && product.original_price>product.lowest_price" class="fa fa-rupee">{{product.original_price}}</del>
              </h6>
              <ion-grid no-padding>
                <ion-row no-padding>
                  <ion-col col-8>
                    <ion-rating [numStars]="5" [readOnly]="true" [value]="product?.rating"></ion-rating>
                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-item>
          </ion-slide>
        </ion-slides>
        <button (click)="redirecttocategroy({ 'slug': 'mobiles', 'title': 'Mobiles'})" ion-button full class="viewall">View All</button>
      </div>
    </ion-card-content>
  </ion-card>
  <product-compare-widget></product-compare-widget>
  <ion-card fullshadow>
    <ion-card-header>
      Trending Deals
    </ion-card-header>
    <ion-card-content class="hotoffer coupon">
      <ion-slides slidesPerView=2>
        <ion-slide *ngFor="let deal of trendingDeals">
          <ion-item text-center center (click)="openStore(deal.id,deal.name)">
            <img src="https://www.nayashopi.in/{{deal.image}}">
            <h6>{{deal.title}}</h6>
          </ion-item>
        </ion-slide>
      </ion-slides>
      <button ion-button full class="viewall" (click)="openCoupons()">View All</button>
    </ion-card-content>
  </ion-card>
  <ion-card fullshadow>
    <ion-card-header>
      Great Coupons And Cashbacks
    </ion-card-header>
    <ion-card-content class="hotoffer coupon">
      <ion-slides slidesPerView=2>
        <ion-slide *ngFor="let coupon of cashBackAndCoupons">
          <ion-item text-center center (click)="openStore(coupon.id,coupon.name)">
            <img src="https://www.nayashopi.in/{{coupon.image}}">
            <h5> Upto {{coupon.discount}}</h5>
            <h6 text-center>{{coupon.offer_count}} offer ></h6>
          </ion-item>
        </ion-slide>
      </ion-slides>
      <button ion-button full class="viewall" (click)="openCoupons()">View All</button>
    </ion-card-content>
  </ion-card>
</ion-content>