//import css
@import 'theme';

//header css
.header{
  background-color: $blue;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .top-header{
    padding: 10px 0px;
  }
}

.header-search{
  .input-group-prepend{
    .input-group-text{
      border: none;
      background-color: $s-grey;
      i{
        color: $i-grey;
        font-size: 18px;
      }
    }
  }
  .form-control{
    background-color: $s-grey;
    border: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:0px;
    &:focus{
      box-shadow: none;
    }
  }
  &::-webkit-input-placeholder { /* Edge */
    color:$i-grey;
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:$i-grey;
  }
  
  &::placeholder {
    color:$i-grey;
  }
}

.right-bar-link{
  nav{
    ul{
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: center;
      li{
        display: inline-block;
        margin: 0px 10px;
        a{
          display: flex;
          flex-flow: column;
          text-align: center;
          color: $white;
          text-decoration: none;
          font-size: 13px;
          line-height: 15px;
          white-space: nowrap;
          i{
            margin-bottom: 3px;
          }
        }
        .wishlist-item{
          position: relative;
          .item-count{
            position: absolute;
            right: 5px;
            background-color: #ff0101;
            border-radius: 100%;
            font-size: 10px;
            line-height: 11px;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -7px;
            font-weight: $medium;
          }
        }

      }

     

    }
  }
}

.bottom-header{
  .navbar{
    padding: 0px;
    .navbar-nav{
      .nav-item{
        margin-right: 35px;
        &:hover{
          // .dropdown-menu{
          //   display: block;
          // }

          .dropdown-upper{
            display: block;
          }
        }
        .nav-link{
          color: $white;
          font-size: 14px;
          line-height: 16px;
        }

        

      }
      .dropdown-menu{
        background-color: $blue;
        padding: 0px;
        margin: 0px;
        border: 0px;
        border-radius: 0px;
        padding-top: 15px;
        min-width: 200px;
        ul{
          margin: 0px;
          padding: 0px;
          li{
            list-style: none;
            &:hover{
              background-color: #183A65;
            }
          }
          .sub-menu{
            position: relative;
            .dropdown-mid{
              padding-top: 0px;
            }
            &:hover{
              .dropdown-mid{
                display: block !important;
                left: 100%;
                top: 0px;
              }
            }

            .dropdown-sub{
              display: flex;
              align-items: center;
              justify-content: space-between;
              &:after{
                transform: rotate(270deg)
              }
            }

          }
        }

        .dropdown-item{
          color: $white;
          font-size: 14px;
          line-height: 16px;
          padding: 10px 12px;
          &:hover, &:focus{
            background-color: transparent;
          }
        
        }
      }

      

    }
  }

  

}



.category-link{
  color: $white;
  font-size: 14px;
  line-height: 16px;
  font-weight: $medium;
  margin-right: 15px;
  &:hover, &:focus{
    color: $ch-grey;
    text-decoration: none;
  }
}

.search-products{
  padding: 35px 10px;
  background-color: $white;
  border-radius: 4px;

  .search-heading{
    h2{
      color: $sh-grey;
      font-size: 22px;
      margin-bottom: 25px;
      font-weight: 400;
    }
  }

  .search-tabs{
    .nav{
      border: 0px;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $b-grey;
      .nav-item{
        .nav-link{
          border: 0px;
          color: $black;
          padding: 10px 20px;
          font-size: 16px;
          line-height: 19px;
          font-weight: $medium;
        }
        .nav-link.active{
          border-bottom: 2px solid $blue !important;
          color: $blue;
        }
      }
    }

    .tab-content{
      .form-group{
        .form-control{
          border-color: $form-border-color;
          border-radius: 3px;
          &:focus{
            box-shadow: none;
          }
        }
      }
    }

  }
}

.banner-contant-detail{
  color: $white;
  h3{
    font-size: 44px;
    line-height: 39px;
    font-weight: $bold;
    span{
      font-size: 26px;
      line-height: 39px;
      font-weight: $medium
    }
  }
  h4{
    font-size: 25px;
    line-height: 28px;
    font-weight: $regular;
    font-style: italic;
  }
  p{
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
  }
}

.banner-contant-slider{
  .carousel-indicators{
    justify-content: left;
    margin-left: 0px;
    margin-bottom: 0px;
    .carousel-indicators.active{
      li{
        background-color: $orange;
      }
    }
  }
}

// banner-slider css
.banner-slider{
  position: relative;
  .banner-search{
    position: absolute;
    top: 85px;
    left: 150px;
  }

  .carousel-indicators{
    justify-content: flex-end;
    margin-right: 5%;
    li{
      color: $white;
      border-bottom: 2px solid $white;
      padding: 0px 12px;
      margin: 0px 10px;
      margin-bottom: 35px;
      text-decoration: none;
      text-indent:1px;
      width: auto;
      height: auto;
      border-top: 0px solid transparent;
      background-color: transparent;
      opacity: 1;
      font-size: 14px;
    }
    li.active{
      color: $orange;
      border-color: $orange;
    }
  }
  .carousel-caption {
    top: 100px;
    left: 500px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    text-align: left;
    right: 30%;
  }

  .carousel-banner-heading{
    position: absolute;
    top: 50px;
    right: 100px;
    h3{
      color: $white;
      font-weight: $medium;
    }
  }

}

//popular-brands css
.popular-brands{
  .flexslider{
    margin-bottom: 0px;
    .slides{
      li{
        border-right: 1px solid rgba(112, 112, 112, 0.08);
      }
      }
    }
  }

//flex slider css
.flex-direction-nav{
  a {
    width: 35px !important;
    height: 35px !important;
    box-shadow: 0px 0px 6px #0000001C !important;
    border-radius: 100%;
    text-align: center !important;
    vertical-align: middle;
    line-height: 35px;
    background-color: $white;
      &:before{
        font-size: 20px !important;
      }
  }
} 

.flex-control-nav{
  display: none;
}

//product-categorie css
.product-categorie-link{
  
  &:hover{
    text-decoration: none;
    
    .product-categorie{
      position: relative;
      z-index: 1;
    }
  }
  .product-categorie{
      background-color: $white;
      border: 1px solid rgba(227, 227, 227, 0.41);
      transition: transform .3s;
    .product-categorie-img{
      img{
        width: 100%;
        //height: 188px;
      }
    }
  
    .product-categorie-name{
      text-align: center;
      padding: 15px 5px;
      h3{
        font-size: 16px;
        line-height: 19px;
        font-weight: $medium;
        color: $black;
        text-transform: capitalize;
      }
    }
  }
}

//new-arrivals-link
.new-arrivals-detail{
  border: 1px solid rgba(227, 227, 227, 0.41);
  .new-arrivals-img{
    img{
      width: 100%;
      //height: 374px;
    }
  }
  .new-arrivals-name{
    text-align: center;
    padding: 15px 10px;
    h3{
      font-size: 20px;
      line-height: 24px;
      color: $black;
    }
    p{
      color: $d-grey;
      font-size: 14px;
      line-height: 16px;
      margin-top: 8px;
    }
    a{
      font-size: 16px;
      line-height: 19px;
      color: $black;
      text-decoration: none;
      margin-top: 20px;
    }
  }
}

//prodect-add css
.prodect-add{
  .prodect-add-detail{
    .prodect-add-brand{
      padding: 0px 15px;
      .brand-logo{
        img{
          width: 137px;
          height: 60px;;
        }
      }
    .prodect-add-head{
      margin-top: 45px;
      h3{
        font-size: 33px;
        line-height: 39px;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 0px;
        span{
          font-size: 33px;
          line-height: 39px;
          text-transform: uppercase;
          color: $blue;
          font-weight: $medium;
        }
      }
      span{
        color: $d-grey;
        font-size: 16px;
        line-height: 19px;
        font-weight: $medium;
      }
    } 
    p{
      color: $black;
      font-size: 14px;
      line-height: 16px;
      margin-top: 15px;
      margin-bottom: 25px;
    } 
    }

    .prodect-add-img{
      img{
        border-radius: 15px;
        width: 100%;
      }
    }

  }

  .carousel-indicators{
    justify-content: end;
    margin-left: 1%;
    bottom: -42px;
    li{
      color: $black;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $d-grey;
      opacity: 1;
    }
    li.active{
      background-color: $sky-blue;
    }

  }

}

// featured-products css
.featured-products-link{
  &:hover{
    text-decoration: none;
  }
  .featured-products-detail{
    border: 1px solid rgba(227, 227, 227, 0.41);
    .featured-products-img{
      img{
        width: 100%;
        //height: 270px;
      }
    }
    .featured-products-name{
      padding: 15px 10px;
      text-align: center;
      h3{
        font-size: 16px;
        line-height: 19px;
        color: $black;
        font-weight: $medium;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
      p{
        color: $d-grey;
        font-size: 14px;
        line-height: 16px;
        margin-top: 8px;
        margin-bottom: 0px;
      }
    }
  }
}

//recently-viewed css
.recently-viewed{
  .recently-viewed-slider{
    img{
      width: 100%;
      height: 113px;
    }
  }
}

//footer
.footer{
  background-color: $blue;
  .footer-top{
    .footer-about{
      img{
        width: 100px;
        margin-bottom: 12px;
      }
      h5{
        color: $f-grey;
        font-size: 18px;
        line-height: 20px;
        font-weight: $medium;
        margin-bottom: 12px;
      }
      p{
        color: $f-grey;
        font-size: 14px;
        line-height: 20px;
      }
    }
  .footer-link{
    .footer-heading{
      margin-bottom: 16px;
      h5{
        color: $white;
        font-size: 18px;
        line-height: 21px;
        font-weight: $medium;
        font-style: italic;
      }
    }
    nav{
      ul{
        margin: 0px;
        padding: 0px;
        li{
          color: $white;
          font-size: 14px;
          line-height: 16px;
          font-weight: $medium;
          list-style: none;
          margin-bottom: 22px;
          margin-right: 20px;
          a{
            color: $white;
          }
        }
      }
    }
    .social-links{
      ul{
        margin: 0px;
        padding: 0px;
        li{
          list-style: none;
          display: inline-block;
          a{
            i{
              font-size: 18px;
              color: $white;
            }
          }
        }
      }
    }
  } 
  }
.copyright{
  text-align: center;
  p{
    color: $f-grey;
    font-size: 14px;
    line-height: 16px;
  }
}

.footer-bottom{
  background-color: $d-blue;
  h5{
    color: $white;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  p{
    color: $f-grey;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.43;
    span{
      color: $f-grey;
      opacity: 0.43;
    }
    a{
      color: $f-grey;
      &:hover{
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

}

// breadcrumb-nav css
.breadcrumb-nav{
  padding: 10px 0px 0px;
  .breadcrumb{
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0px;
    li{
      color: $black;
      font-size: 14px;
      line-height: 16px;
      font-weight: $medium;
      margin-right: 3px;
      font-weight: normal;
      a{
        color: $black;
        &:hover{
          text-decoration: none;
        }
      }
    }
    li.active{
      font-weight: $medium;
    }

  }
}

// featured-products css
.category-products-link{
  &:hover{
    text-decoration: none;
  }
  .category-products-detail{
    .category-products-img{
      img{
        width: 100%;
        //height: 283px;
      }
    }
    .category-products-name{
      padding: 15px 10px;
      text-align: center;
      h3{
        font-size: 16px;
        line-height: 19px;
        color: $black;
        font-weight: $medium;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
    }
  }
}

//filters css
.filters{
  border-right: 1px solid rgba(112, 112, 112, 0.13);
  .filter-section{
    border-bottom: 1px solid rgba(112, 112, 112, 0.13);
    padding: 15px;
    a{
      text-decoration: none;
    }
    .filter-heading{
      font-size: 16px;
      line-height: 19px;
      font-weight: 500;
      color: $black;
      position: relative;
      &:after{
        font-family: "FontAwesome";
        font-size: 22px;
        display: inline-block;
        content: '\f107';
        color: rgba(0, 0, 0, 0.8);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 0;
        right: 0;
      }
    }  
  }
}

//clear
.clear{
  .clear-title{
    color: $black;
    font-size: 16px;
    line-height: 19px;
  }
  .clear-link-btn{
    color: $orange;
    font-size: 14px;
    line-height: 16px;
    font-weight: $medium;
    &:hover, &:focus{
      color: $black;
      box-shadow: none;
    }
  }
}

//filter-search
.filter-search{
  .input-group{
    .form-control{
      border-radius: 2px 0px 0px 2px;
      font-size: 12px;
      line-height: 20px;
      background-color: $fs-grey;
      border: none;
      height: 28px;
      &:focus{
        box-shadow: none;
      }
    }
    .input-group-append{
      .filter-search-btn{
        background-color: $fs-grey;
        font-size: 12px;
        line-height: 20px;
        height: 28px;
        padding: 0px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 2px 2px 0px;
        &:focus{
          box-shadow: none;
        }
      }
    }
  }
}

.checkbox-add{
  .btn{
    font-size: 12px;
    line-height: 20px;
    color: $orange;
    &:focus, &:hover{
      box-shadow: none;
      color:$black;
    }
  }
}

//collection-item
.collection-item{
  .collection-item-img{
    background-color: rgba(224, 224, 224, 0.44);
    margin-bottom: 8px;
    a{
      img{
        width: 100%;
        //height: 250px;
      }
    }
  }
  .collection-item-name{
    margin-bottom: 7px;
    a{
      text-decoration: none;
      h3{
        color: $black;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 2px;
        font-weight: $regular;
      }
    }
    .modal-name{
      color: $d-grey;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 0px;
    }

    .price{
      color: $black;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

// compare-box css
.compare-box{
  width: 300px;
  background-color: $white;
  padding: 10px 5px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  z-index: 1;
  border: 1px solid #dcd4d4;
  .compare-box-items{
    display: flex;
    justify-content: space-between;
    div{
      margin: 0px 5px;
      position: relative;
      
      img{
        width:100%;
        background-color: rgba(224, 224, 224, 0.44);
        margin-bottom: 8px;
      }

      h3{
        color: $black;
        font-size: 12px;
        line-height: 14px;
        margin-top: 5px;
      }

      .btn-compare-close{
        position: absolute;
        top: 5px;
        right: 5px;
        color: $d-grey;
        background: transparent;
        border: 1px solid $d-grey;
        border-radius: 100%;
        padding: 0px;
        line-height: normal;
        font-size: 12px;
        width: 17px;
        height: 17px;
        &:focus{
          box-shadow: none;
        }
      }
    }
    
  }
}

//light slider
.lSSlideOuter{
  .lSSlideWrapper{
    position: static;
 }
 .lSPager{
  display: none;  
}
}

//popular-brands-slide
.popular-brands-slide{
  li{
    text-align: center;
    border-right: 1px solid rgba(112, 112, 112, 0.08);
    img{
      width: 130px;
    }
  }
}

//fsgkj
.lSAction {
  a{
    background-image:none;
  width: 35px !important;
  height: 35px !important;
  -webkit-box-shadow: 0px 0px 6px #0000001C !important;
  box-shadow: 0px 0px 6px #0000001C !important;
  border-radius: 100%;
  text-align: center !important;
  vertical-align: middle;
  line-height: 35px;
  background-color: $white;
  top: 63% !important;
  }

  .lSPrev{
    left: -18px !important;
    &::after{
      font-family: "FontAwesome";
      font-size: 22px;
      display: inline-block;
      content: '\f104';
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  }
}
.lSNext{
  
  right: -18px !important;
 
  &::after{
    font-family: "FontAwesome";
    font-size: 22px;
    display: inline-block;
    content: '\f105';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  }
  }
} 

//recently-viewed-slide
.recently-viewed-slide{
  li{
    text-align: center;
  }
}

//product-detail page
.alkiyo-product-detail{
  
  .alkiyo-product-image{
    //width: calc(100% - 77px);
    margin-left: 92px;
    height: 503px;
    overflow: hidden;
    img{
      width: 100%;
      border: 1px solid rgba(112, 112, 112, 0.19);
      height: 453px;
    }
  }
  .product-image-list{
    position: absolute;
    left: 15px;
    top: 0;
    width: 84px;
    margin: 0 auto;
    ul{
      margin: 0px;
      padding: 0px;
      li{
        list-style: none;
        margin-bottom: 8px;
        a{
          img{
            width: 100%;
            border: 1px solid rgba(112, 112, 112, 0.19);
            height: 84px;
          }
        }
      }
    }
  }

.product-overviewdetail{
  .overviewdetail-heading{
    margin-bottom: 23px;
    .company-name{
      font-size: 14px;
      line-height: 16px;
      font-weight: $medium;
      color: $sky-blue;
    }
    h2{
      font-size: 22px;
      line-height: 25px;
      color: $black;
      font-weight: $regular;
      margin-bottom: 0px;
    }
    .modal-name{
      font-size: 16px;
      line-height: 19px;
      color: $black;
      font-weight: $regular;
    }
  }

  .overviewdetail-price{
    position: relative;
    display: inline-block;
    margin-bottom: 23px;
    p{
      font-size: 30px;
      line-height: 35px;
      color: $black;
      font-weight: $regular;
      margin-bottom: 0px;
      i{
        font-size: 27px;
      }
    }
    .info{
      position: absolute;
      top: 0;
      right: -16px;
      z-index: 1;
      a{
        font-size: 10px;
          line-height: 10px;
          border: 1px solid $d-grey;
          border-radius: 100%;
          color: $d-grey;
          display: flex;
          width: 14px;
          height: 14px;
          align-items: center;
          justify-content: center;
        i{
         
        }
      }
    }
  }

  .select-color{
    border-bottom: 1px solid rgba(112, 112, 112, 0.13);
    padding-bottom: 10px;
    margin-bottom: 23px;
    display: block;
    h5{
      font-size: 14px;
      line-height: 16px;
      color: $black;
      font-weight: $regular;

    }
    nav{
      ul{
        padding: 0px;
        margin: 0px;
        li{
          display: inline-block;
          margin-right: 5px;
          width: 60px;
          text-align: center;
          
          a{
            text-decoration: none;
            img{
              width: 100%;
              height: 34px;

            }
            span{
              font-size: 12px;
              line-height: 14px;
              color: $d-grey;
            }
          }
        }

        li.active{
          a{
            border: 1px solid rgba(112, 112, 112, 0.17);
            display: block;
          }
        }

      }
    }
  }

.overviewdetail-content{
  margin-bottom: 23px;
  p{
    font-size: 14px;
    line-height: 19px;
    color: $black;
    margin-bottom: 0px;
    a{
      font-size: 14px;
      line-height: 19px;
      color: $sky-blue;
      text-decoration: none;
    }
  }
}

.search-dealer{
  h5{
    font-size: 14px;
    line-height: 16px;
    color: $black;
    font-weight: $medium;
  }
  .input-group{
    margin-bottom: 23px !important;
    .form-control{
      border-color: rgba(112, 112, 112, 0.36);
      border-radius: 3px 0px 0px 3px;
      font-size: 12px;
      line-height: 14px;
      height: 38px;

    }
    .input-group-append{
      .btn{
        background-color: $sky-blue;
        border-radius: 3px;
        color: $white;
        i{

        }
      }
    }
  }
}

.overviewdetail-btn{
      .btn{
        font-size: 15px;
        line-height: 18px;
        font-weight: $regular;
        margin-right: 8px;
      }
      .btn-border{
        color: $orange;
        &:hover{
          color: $black;
        }
      }
    }
  }
}

//product-description
.product-description{
  border-bottom: 1px solid rgba(112, 112, 112, 0.13);
  margin-bottom: 15px;
  h2{
    font-size: 24px;
    line-height: 28px;
    font-weight: $medium;
    color: $black;
  }
  p{
    font-size: 14px;
    line-height: 19px;
    color: $black;
    font-weight: $regular;
  }
}

//wishlist page
.wishlist-heading{
  .card-heading{
    h3{
      font-size: 20px;
      line-height: 24px;
      color: $black;
      font-weight: $regular;
    }
  }
}

.product-company-name{
  margin-bottom: 10px;
  ul{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    li{
      list-style: none;
      margin-right: 10px;
      img{}
      h2{
        font-size: 16px;
        line-height: 19px;
        font-weight: $regular;
        color: $black;
      }
      &:nth-child(1) {
        border-right: 1px solid rgba(112, 112, 112, 0.14);
      }
     }
  }
}

//compare page
.compare-list{
  .table{
    tr{
      th{
        min-width: 200px;
        max-width: 200px;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        font-weight: $medium;
        border-top: 0px;
        h2{
          font-size: 24px;
          line-height: 28px;
        }
      }
      td{
        min-width: 200px;
        max-width: 200px;
        font-size: 16px;
        line-height: 19px;
        color: $black;
        font-weight: $regular;
        border-top: 0px;
        border-left: 1px solid rgba(112, 112, 112, 0.13);
      }
    }
  }
}

//brand-detail
.brand-detail{
  .product-brand-name{
    ul{
      display: flex;
      margin: 0px;
      padding: 0px;
      margin-bottom: 15px;
      li{
        list-style: none;
        img{
          width: 100%;
        }
        h2{
          margin-bottom: 0px;
          font-size: 24px;
          line-height: 26px;
          color: $blue;
          font-weight: $medium;
          font-style: italic;
        }
        p{
          margin-bottom: 0px;
          font-size: 14px;
          line-height: 19px;
          color: $black;
          font-weight: $regular;
        }
        span{
          font-size: 14px;
          line-height: 27px;
          color: $p-color;
          font-weight: $regular;
        }
      }
    }

    .product-brand-detail{
      p{
        font-size: 14px;
        line-height: 16px;
        color: $black;
      }
    }

  }
}

//brand-histry-heading
.brand-histry-heading{
  h2{
    font-size: 20px;
    line-height: 14px;
    color: $black;
    font-weight: $regular;
  }
  p{
    font-size: 14px;
    line-height: 19px;
    color: $black;
    font-weight: $regular;
  }
}

//brand tree
.tree-grid{

  .right-border-space{
     border-left: 1px solid $fs-grey;
     //margin-top: 55px;
  }
  
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .cos-about-timeline{
    
    .cos-about-timeline-item{

      &:hover{
          .timeline-box{
            background-color: $blue;
            p{
              color: $white;
            }
          }
          .circle {
            background: $blue;

          }
        }

      .timeline-box{
        background-color: $f-grey;
        padding: 10px;
        position: relative;
        p{
          font-size: 12px;
          line-height: 14px;
          color: $p-color;
          text-align: left;
          text-overflow: ellipsis;
          overflow: overlay;
        }
      }
      p{
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 16px;
        color: $p-color;
      }
      .circle {
        background: $circle-sky;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        position: absolute;
        z-index: 1;
  
      }

     

    }
  
  
    .cos-about-timeline-item-left{
      margin-right: 50px;
      h5{
        clear: both;
        text-align: right;
      }
      p{
        text-align: right;
      }
      .circle{
        right: -57px;
        top: 40%;
        &:after{
              content: "";
              background-color: $fs-grey;
              width: 45px;
              height: 1px;
              top: 5px;
              right: 12px;
              position: absolute;
        }
      }
      
    }
  
    .cos-about-timeline-item-right{
      margin-top: 100px;
      margin-left: 50px;
      .circle{
        left: -57px;
        top: 36%;
        &:after{
          content: "";
          background-color: #ECECEC;
          width: 45px;
          height: 1px;
          top: 6px;
          left: 12px;
          position: absolute;
        }
      }
    }
  }
}

//glimpses-ditail
.glimpses-ditail{
  .glimpses-slider{
    .glimpses-slide-item{
      img{
        width: 100%;
        margin-bottom: 15px;
      }
      h2{
        font-size: 14px;
        line-height: 16px;
        color: $black;
        margin-bottom: 0px;
      }
      p{
        font-size: 12px;
        line-height: 14px;
        color: $p-color;
      }
    }

    .lSSlideOuter{
      .lSSlideWrapper {
        .lSAction{
          display: none !important;
        }
      }
      .lSPager{
        display: block;
        li{
          a{
            width:30px;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.27);
          }
        }
      }
    }
  }
}

//brands-items
.brands-items{
  .brands-items-detail{
    .brands-item-content{
      text-align: center;
      margin-bottom: 20px;
      img{
        width: 100%;
        background-color: $white;
        box-shadow: 0px 0px 5px #00000012;
        margin-bottom: 10px;
      }
      h2{
        font-size: 16px;
        line-height: 19px;
        font-weight: $regular;
      }
    }
  }
}

//find-dealer
.find-dealer{
  .find-dealer-detail{
    margin-top: 30px;
    .dealer-address{
      img{
        margin-bottom: 10px;
      }
      h2{
        font-size: 16px;
        line-height: 19px;
        font-weight: $regular;
      }
      ul{
        margin: 0px;
        padding: 0px;
        li{
          list-style: none;
          font-size: 12px;
          line-height: 22px;
          color: $black;
          font-weight: $regular;
          i{
            margin-right: 5px;
          }
        }
      }
    }
  }
}

//aside-produdts
.aside-produdts{
    border-left: 1px solid rgba(112, 112, 112, 0.13);
    padding: 30px 15px 0px;
    position: sticky;
    top: 135px;
  .aside-items{
    margin-bottom: 15px;
    a{
      display: flex;
      justify-content: start;
      text-decoration: none;
      .aside-items-img{
        margin-right: 10px;
        img{
          width: 80px;
        }
      }

      .aside-items-content{

        h4{
          font-size: 16px;
          line-height: 19px;
          color: $black;
          font-weight: $regular;
          margin-bottom: 0px;
        }
        p{
          font-size: 14px;
          line-height: 16px;
          color: $d-grey;
          font-weight: $regular;
          margin-bottom: 0px;
        }
        span{
          font-size: 14px;
          line-height: 16px;
          color: $black;
          font-weight: $regular;
          i{}
        }
      }
    }
  }
}

//login pagee
.login-detail{
  width: 853px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border: 1px solid $login-detail-border-color;
  box-shadow: 0px 0px 18px #00000015;
  background-color: $white;
  padding: 30px;
  .login-head{
    h2{
      font-size: 24px;
      line-height: 28px;
      color: $d-grey;
      font-weight: $medium;
    }
  }
  .login-form{
    .form-group{
      label{
        font-size: 12px;
        line-height: 14px;
        color: $black;
        font-weight: $regular;
      }
      a{
        font-size: 12px;
        line-height: 14px;
        font-weight: $medium;
        color: $sky-blue;
        text-decoration: none;
      }
    }
  }
  .not-account{
    h2{
      font-size: 18px;
      line-height: 21px;
      font-weight: $medium;
      color: $black;
      margin-bottom: 0px;
    }
    p{
      font-size: 13px;
      line-height: 15px;
      color: $d-grey;
      font-weight: $regular;
    }
  }
.login-aside{
  .login-aside-logo{
    text-align: right;
    img{}
  }
  .login-aside-detail{
    .login-aside-heading{
      h2{
        font-size: 27px;
        line-height: 33px;
        font-weight: $regular;
        color: $black;
        margin-bottom: 0px;
        position: relative;
        span{
          font-weight: $medium;
          color: $blue;
          text-transform: uppercase;
        }
        &:before{
          content: "";
          background-color: $sky-blue;
          height: 3px;
          width: 55px;
          top: -4px;
          left: 0;
          z-index: 1;
          position: absolute;
        }
      }
      p{
        font-size: 16px;
        line-height: 19px;
        color: $d-grey;
        font-weight: $medium;
      }
    }

  .login-aside-body{
    p{
      font-size: 14px;
      line-height: 16px;
      color: $black;
      font-weight: $regular;
    }
    img{
      border-radius: 2px;
      width: 100%;
    }
  }

  }

}
}

//forgot password
.resend-btn-position{
  position: relative;
  .login-input{
  padding-right: 65px;
  }
  .resend-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    border: none;
    line-height: 40px;
    vertical-align: middle;
    z-index: 1;
    color: $sky-blue;
    font-size: 14px;
  }
}

.change-password-remove{
  color: $d-grey;
  background: transparent;
  border: 1px solid $d-grey !important;
  border-radius: 100%;
  padding: 0px !important;
  line-height: normal;
  font-size: 12px;
  width: 17px;
  height: 17px;
  margin-right: 2px !important;
  margin-top: 0px !important;
  opacity: 1;
  z-index: 1;
  outline: none;
  box-shadow: none;

}   

.modal-forgot-password{
  border-radius: 0px;
  h2{
    color: $blue;
    font-size: 20px;
    line-height: 24px;
    font-weight: $regular;
  }
}

.login-checkbox{
  color: $d-grey;
  font-size: 12px;
  line-height: 14px;
  padding-top: 6px;
  padding-left: 21px;
  .checkmark {
    border: 1px solid $blue;
    &::after{
      border-color:$blue;
    }
}
}

.terms{
  color: $blue;
  &:hover{
    text-decoration: none;
    color: $black;
  }
 }

 //verify-btn-position
.verify-btn-position{
  position: relative;
  .login-input{
    padding-right: 65px;
    }
    .verify-btn{
      position: absolute;
      right: 0px;
      background: transparent;
      border: none;
      vertical-align: middle;
      z-index: 1;
      color: $blue;
      font-size: 14px;
      top: 37px;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
}

//modal-verify
.modal-verify{
  text-align: center;
  border-radius: 0px;
  h2{
    color: $blue;
    font-size: 20px;
    line-height: 24px;
    font-weight: $regular;
  }
  p{
    font-size: 14px;
    line-height: 19px;
    color:$d-grey;
    margin-bottom: 0px;
  }
  .modal-verify-bottom{
    span{
      color:$modal-verify-color;
      font-size: 14px;
      line-height: 16px;
      font-weight: $medium;
    }
    a{
      color:$sky-blue;
      font-size: 14px;
      line-height: 16px;
      font-weight: $regular;
      &:hover{
        text-decoration: none;
      }

    }
  }
}

.verification-inputs{
  display: flex;
  justify-content: center;
  .login-input{
    border: 0px;
    border-bottom: 1px solid rgba(173, 171, 171, 0.32);
    margin: 0px 10px;
    width: 30px;
  }
}


//more-products-banner
.more-products-banner{
  background-image: url(/images/banner/banner-3.jpg);
  padding: 50px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
  position: relative;
  .more-banner-details{
    h3{
      font-size: 44px;
      line-height: 39px;
      font-weight: 600;
      color:$blue;
      span{
        font-size: 26px;
        line-height: 39px;
        font-weight: 500;
      }
    }
    h4{
      font-size: 25px;
      line-height: 28px;
      font-weight: 400;
      font-style: italic;
      color: $white;
    }
    p{
      font-size: 16px;
      line-height: 22px;
      font-style: italic;
      color:$white;
    }
  }

  .brand-banner{
    position: absolute;
    top: 30px;
    right: 130px;
  }
}

//user-dropdown
.user-dropdown{
  a{}
  .dropdown-menu{
    padding: 0px;
    border-radius: 0px;
    .dropdown-item{
      color: $black;
      text-align: left;
      padding: 8px 10px;
      &:active{
        background-color: #ffffff;
      }
    }
    

  }
}

//edit profile
.edit-number{
    .verify-btn {
      color: #45A5D2 !important;
    }

}

//resend-otp
.resend-otp{
  display: flex;
  .login-input{
    padding-right: 10px;
  }
  .resend-btn{
    position: static;
  }
}

//find-showrooms
.find-heading{
  h2{
    font-size: 20px;
    line-height: 24px;
    color: #1C385C;
    font-weight: $regular;
  }
}

.find-btns{
  h3{
    font-size: 18px;
    line-height: 21px;
    color: $black;
    font-weight: $regular;
  }
  p{
    font-size: 14px;
    line-height: 16px;
    color: $black;
    font-weight: $regular;
  }
  .btn-border{
    color: $orange;
    &:hover, &:focus{
      color: $blue;
    }
  }
}

.showers-list{
 
  .showers-list-item{
    border: 1px solid rgba(112, 112, 112, 0.09);
    border-radius: 4px;
    display: flex;
    padding:15px;
    .showers-count{
      font-size: 14px;
      line-height: 16px;
      color: $black;
      background-color: rgba(173, 171, 171, 0.17);
      width: 26px;
      height: 26px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    .showers-address{
      h4{
        font-size: 16px;
        line-height: 16px;
        font-weight: $medium;
        margin-bottom: 5px;
      }
      p{
        font-size: 14px;
        line-height: 16px;
        color: $black;
        font-weight: $regular;
        margin-bottom: 8px;
      }
      span{
        font-size: 12px;
        line-height: 17px;
        color: $black;
        font-weight: $regular;
        display: block;
        i{
          margin-right: 3px;
        }
      }
    }
  }
}



