@media (max-width: 767px) {
  .header {
    position: static;
  }
  .header .header-logo {
    text-align: center;
  }
  .header .right-bar-link {
    padding-top: 12px;
  }
  .banner-slider .banner-search {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-slider .carousel-banner-heading {
    display: none;
  }
  .banner-slider .carousel-caption {
    display: none;
  }
  .banner-slider .carousel-indicators {
    display: none;
  }
  .alkiyo-product-detail .alkiyo-product-image {
    height: auto;
    margin-left: 0px;
  }
  .alkiyo-product-detail .alkiyo-product-image img {
    height: auto;
  }
  .alkiyo-product-detail .product-image-list {
    display: none;
  }
  .login-detail {
    max-width: 853px;
    width: auto;
  }
  .login-detail .bl-1 {
    border: none;
  }
  .login-aside {
    margin-top: 20px;
  }
  .more-products-banner .brand-banner {
    right: 20px;
  }
  .tooltip .tooltiptext {
    max-width: 100px;
    min-width: 100px;
  }
  .aside-produdts {
    border-left: 0px;
  }
}

@media (min-width: 991px) {
  .col-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header-logo a img {
    width: 130px;
  }
}

@media (max-width: 1200px) {
  .banner-slider .carousel-caption {
    left: 500px;
    right: 15%;
  }
}

@media (min-width: 768px) {
  .filter-section .filter-heading:after {
    display: none !important;
  }
  .filter-section .collapse {
    display: block;
  }
}
/*# sourceMappingURL=media.css.map */