<div bottomshadow no-padding no-margin class="producttabsegments">
    <ion-segment [(ngModel)]="active">
        <ion-segment-button value="overview" (click)="redirect('overview')">
            Overview
        </ion-segment-button>
        <ion-segment-button value="store" (click)="redirect('store')">
            Stores
        </ion-segment-button>

        <ion-segment-button value="specs" (click)="redirect('specs')">
            Specs & Features
        </ion-segment-button>

        <ion-segment-button value="review" (click)="redirect('review')">
            Review & Rating
        </ion-segment-button>
    </ion-segment>
</div>