<ion-card fullshadow>
    <ion-card-header>
        Compare Products
    </ion-card-header>
    <ion-card-content class="compareblockhome">
        <ion-grid>

            <ion-row padding-top>
                <ion-col col-5>
                    <ion-item no-padding no-margin text-center *ngIf="!product1" tappable (click)="selectFirstProduct()">
                        <ion-icon name="add"></ion-icon>
                        <h2>Select Product 1</h2>
                    </ion-item>
                    <ion-item no-padding no-margin text-center activecompare *ngIf="product1" tappable (click)="selectFirstProduct()">
                        <div class="minheight">
                            <img class="thubnail-image" src="http://www.nayashopi.in/{{product1.icon}}" />
                        </div>
                        <h6>{{product1.label}}</h6>
                        <h3 font11>
                            <i class=""></i>Rs. {{product1.lowest_price}}</h3>
                    </ion-item>
                </ion-col>
                <ion-col col-2>
                    <ion-badge item-center>vs</ion-badge>
                </ion-col>
                <ion-col col-5>
                    <ion-item no-padding no-margin text-center *ngIf="!product2" tappable (click)="selectSecondProduct()">
                        <ion-icon name="add"></ion-icon>
                        <h2>Select Product 2</h2>
                    </ion-item>
                    <ion-item no-padding no-margin text-center activecompare *ngIf="product2" tappable (click)="selectSecondProduct()">
                        <div class="minheight">
                            <img class="thubnail-image" src="http://www.nayashopi.in/{{product2.icon}}" />
                        </div>
                        <h6>{{product2.label}}</h6>
                        <h3 font11>
                            <i></i>Rs. {{product2.lowest_price}}</h3>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row padding-top>
                <ion-col col-12 text-center>
                    <button ion-button class="submit-btn" full type="button" [disabled]="!product1 || !product2" (click)="compare()">Compare</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>