.header-md:not(.searchpage)::after{
    background-image:none !important;
    
}

ion-card{
    
    &.widthfull{
        width:100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top:16px;
       

    }
}

.productImage{

    ion-card{
        
        &.widthfull{
          margin-left:0px !important;
          margin-right:0px !important;
    
        }
    }
    ion-segment{
        background-color:$white;
        padding-top:4px;
      

    }
    .segment-md .segment-button{
        color:$gray;
        opacity:.5;
      
        text-transform: capitalize;
        border-bottom-style: none;
        &.segment-activated{
            border-bottom-style: solid;
        }
    }
    
    ion-card{
        
        &.widthfull{
            width:100%;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            margin-top:16px;
        }
        ion-card-content{

            padding:20px 20px;

            ion-rating ion-icon:before{
                font-size:18px;
            }
        }
        img{
            margin:0px auto;
            width:35%;
        }
        h6{
            font-size:$fontsizeheading;
            color:$gray;
            margin-top:9px;
            
        }
        ion-note{
            font-size:$fontsizemedium;;
            color:$searchbar-md-input-search-icon-color;
            opacity:.5;
        }
        .lowestprice{
            margin-top:9px;
            margin-bottom:9px;
            color:$gray;
            font-size:$fontsizemedium;;
            del{
                color:$searchbar-md-input-search-icon-color;
                font-size:$fontsizemedium;;
                opacity:.5;

            }

        }
    }

    .card-header-md{
        font-size:$fontsizeheading;
        color:$gray;
        padding-left:20px;
        padding-right:20px;
    }

    .storelistoverview{
        
        
       

        ion-grid{

            border:1px solid $lightgray;
            border-radius: 4px;
            margin-bottom:10px;
            padding-left:16px;
            padding-right:16px;

             img{
                margin:unset;
                max-width:88px;
                max-height:30px;
            }
            .shipping p{
                font-size:$fontsizelight;
                color:$gray;
                opacity:.5;
                margin-top:10px;
            }
            .storeprice{
                font-size:$fontsizemedium;;
                color:$gray;
                text-align: right;
                display: inherit;
                margin-top: 9px;
                margin-bottom:3px;
                font-weight: 500;
               
            }
            [buy]{
                font-size:$fontsizesmall;
                font-weight:500;
                text-transform: capitalize;
            }

            .button-full-md{
                background-color:$color-blue;
                border-radius:4px;
                width:96px;
                height:32px;
            }

            .row > .button-full-md{
                float:right;
            }

        }
    }
    .displayname{
font-size :$fontsizelight;
color:$gray;
margin-bottom:4px;
width: 79%;
margin: 0px auto;
line-height:18px;
font-family:'montserratregular';
    }
    .displayvalue{
font-size: $fontsizesmall;
font-weight:500;
color:$gray;
width: 79%;
margin: 0px auto;
line-height:18px;
    }

}

.specs {
    
ion-card.widthfull {

    padding-left:20px;
    padding-right:20px;
}

b.segment-md .segment-button.activated, .segment-md .segment-button{
    color:$color-blue;
    border-bottom-style: none;
}

b.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    color:$color-blue;
    border-bottom-style: solid;
}
h3{
    color:$searchbar-md-input-search-icon-color !important;
    font-size:$fontsizeheading !important;
    ion-icon{
        color:$searchbar-md-input-search-icon-color;
        opacity:.5;
    }
}
.specsfeaturelist{
    font-size:$fontsizesmall;
    color:$searchbar-md-input-search-icon-color;
    .name{
        opacity:.7;
    }
    
}

ion-item{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding-left:1px !important;
   
}

}

.ratingreview{

    .item-md.item-block .item-inner{
        padding-right:0px;
    }

    .label-md[floating] {
        -webkit-transform: translate3d(19px, 44px, 0);
        transform: translate3d(19px, 44px, 0);
        color:$searchbar-md-input-search-icon-color;
        opacity:.5;
        font-size:$fontsizemedium;;

    }
    .text-input-md{
        background-color:#f6f7f8;

        border-radius: 4px;
        padding-top:24px;
        padding-bottom:15px;
        padding-left:10px;
        width:100% !important;
    }
    ul.rating {
    margin-top:3px;
    margin-bottom:0px;
    
    li{
    padding:0px !important;
    padding-right:10px !important;
}
}
}

.compareproduct{
    ion-grid{
        ion-row:not(.noborder){
            padding: 7px 0px !important;
            border-bottom: 1px solid $bordercolor;
        
        
        
        
        
        
        
        ion-note{
            color:$gray;
            opacity:.5;
            font-size:$fontsizesmall!important;
        }
        h3{
            color:$gray;
            font-size:$fontsizemedium;
        }
    }
}
}

.alert-title{
    color:$gray;
    font-size:$fontsizeheading !important; 
}

[value="overview"]{
    margin-left:10px !important;
}

[value="review"]{
    margin-right:10px !important;
}

.specslisttabs{
    h3{
       
        font-size:$fontsizemidmedium !important;
    }
}


.similarproduct {
    ion-slides{
        padding-left: 17px;
        padding-bottom: 16px;
    }
    ion-slide ion-item {
        .item-inner {
            padding-left: 12px !important;
            padding-right: 8px !important;
        }
    border: 1px solid $lightgray;
    height: 160px;
    width: 92%;
    border-radius: 4px;
    padding-left: 0px !important;
    img{
        width: 33px !important;
        margin: 0px auto;
    }
    h6{
        
        text-align: left;
        float: left;
        font-size: 1.1rem;
        color: $gray;
        margin-top: 5px !important;
        del {
            color: $searchbar-md-input-search-icon-color;
            opacity: .5;
        }
    }
    h5{
    font-size: 1.2rem;
    margin-top: 16px;
    color:$gray;
    }
    }
}

.producttabsegments ion-segmen{
    padding-top:0px !important;
}
.margintop0{
    margin-top:0px !important;
}

[marginright5]{
    margin-right:5px;
}

[specscard]{
    padding-left:10px !important;
    padding-right:10px !important;
    padding-bottom:5px !important;
}


[paddingbottom4]{
    padding-bottom:4px !important;
}

[backicon]{

    left: 19px;
    position: relative;
    z-index: 20;
    width:37px;
    ion-icon{
        font-size:2rem;
    }
}

[abs]{
    position: absolute !important;
    line-height: 50px;
}


.recentsearches{
margin-top:25px;
ion-list{
    margin-bottom:0px !important;
}
li{
    margin-top:15px;
    color:$color-blue;
    font-size:$fontsizemidmedium;
    font-family:'montserratregular';
}

}


ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px 1px 40px;
    width: 100%;
    height: 100%;
  
}

[home]{
    padding: 0 5px 1px 10px;
}

.back-button{
    z-index:90000 !important;
}

[whitebackground]{
    background-color:$white !important;
    .item-inner{
        border-bottom:0px !important;
        font-size:$fontsizemedium !important;
    }
}

[activecompare]{
    opacity: .9!important;
}

.categoryproductlist   img{
    max-height:118px;
}